<a href="https://colab.research.google.com/github/elliotgunn/DS-Unit-2-Regression-Classification/blob/master/assignment_regression_classification_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science, Unit 2: Predictive Modeling

# Regression & Classification, Module 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [x] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [x] Engineer at least two new features. (See below for explanation & ideas.)
- [x] Fit a linear regression model with at least two features.
- [x] Get the model's coefficients and intercept.
- [x] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [x] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [x] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [x] Do the [Plotly Dash](https://dash.plot.ly/) Tutorial, Parts 1 & 2.
- [ ] Add your own stretch goal(s) !

In [0]:
# If you're in Colab...
import os, sys
in_colab = 'google.colab' in sys.modules

if in_colab:
    # Install required python packages:
    # pandas-profiling, version >= 2.0
    # plotly, version >= 4.0
    !pip install --upgrade pandas-profiling plotly
    
    # Pull files from Github repo
    os.chdir('/content')
    !git init .
    !git remote add origin https://github.com/LambdaSchool/DS-Unit-2-Regression-Classification.git
    !git pull origin master
    
    # Change into directory for module
    os.chdir('module1')

In [0]:
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv('../data/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [25]:
df.columns

Index(['bathrooms', 'bedrooms', 'created', 'description', 'display_address',
       'latitude', 'longitude', 'price', 'street_address', 'interest_level',
       'elevator', 'cats_allowed', 'hardwood_floors', 'dogs_allowed',
       'doorman', 'dishwasher', 'no_fee', 'laundry_in_building',
       'fitness_center', 'pre-war', 'laundry_in_unit', 'roof_deck',
       'outdoor_space', 'dining_room', 'high_speed_internet', 'balcony',
       'swimming_pool', 'new_construction', 'terrace', 'exclusive', 'loft',
       'garden_patio', 'wheelchair_access', 'common_outdoor_space'],
      dtype='object')

## Feature engineering

In [26]:
# total number of rooms

df['total_rooms'] = df['bedrooms'] + df['bathrooms']

df.head()

   bathrooms  bedrooms  ... common_outdoor_space total_rooms
0        1.5         3  ...                    0         4.5
1        1.0         2  ...                    0         3.0
2        1.0         1  ...                    0         2.0
3        1.0         1  ...                    0         2.0
4        1.0         4  ...                    0         5.0

[5 rows x 35 columns]

In [27]:
df.columns

Index(['bathrooms', 'bedrooms', 'created', 'description', 'display_address',
       'latitude', 'longitude', 'price', 'street_address', 'interest_level',
       'elevator', 'cats_allowed', 'hardwood_floors', 'dogs_allowed',
       'doorman', 'dishwasher', 'no_fee', 'laundry_in_building',
       'fitness_center', 'pre-war', 'laundry_in_unit', 'roof_deck',
       'outdoor_space', 'dining_room', 'high_speed_internet', 'balcony',
       'swimming_pool', 'new_construction', 'terrace', 'exclusive', 'loft',
       'garden_patio', 'wheelchair_access', 'common_outdoor_space',
       'total_rooms'],
      dtype='object')

In [0]:
# How many total perks does each apartment have?

# start: elevator

# end: common_outdoor_space

df['perks'] = df.iloc[:, 10:-1].sum(axis=1)

In [0]:
# length of description

df['length'] = df['description'].map(str).apply(len)

## Split test/training data

In [49]:
df.created.dtype

dtype('<M8[ns]')

In [0]:
# convert created date to datetime

df['created'] = pd.to_datetime(df['created'], infer_datetime_format=True)

In [0]:
# pull out month
df['month'] = pd.DatetimeIndex(df['created']).month

In [52]:

# isin() creates a boolean variable for True if value matches
months = [4, 5]
df_train = df
df.month.isin(months)

# use the boolean array to select the rows
df_train = df[df.month.isin(months)]
df_train.shape

(31844, 38)

In [0]:
df_test = df[(df.month==6)]

## Setting up model parameters

In [0]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

# arrange X features matrix and y target vector
features = ['bathrooms', 'bedrooms', 'perks', 'length']
target = 'price'

## Train

In [0]:

X_train = df_train[features]
y_train = df_train[target]

In [97]:
model.fit(X_train, y_train)
model.intercept_, model.coef_

(279.52658828257836,
 array([ 1.93634244e+03,  3.92078455e+02,  7.84228885e+01, -5.50180779e-03]))

In [0]:
# make predictions

y_pred = model.predict(X_train)

# df['Predicted'] = y_pred
# df['Error'] = y_pred - y_train

# regression metrics
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

mse = mean_squared_error(y_train, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_train, y_pred)
r2 = r2_score(y_train, y_pred)

In [106]:
print('Intercept', model.intercept_)
coefficients = pd.Series(model.coef_, features)
print(coefficients.to_string())
print('r2: ', model.score(X_train, y_train))

print('MSE: ', mse)
print('RMSE: ', rmse)
print('MAE: ', mae)
print('r2: ', r2)

Intercept 236.18706995466255
bathrooms    2006.296572
bedrooms      380.064139
perks          80.441181
length         -0.023242
r2:  0.5327437188033238
MSE:  1419738.306811739
RMSE:  1191.5277196992686
MAE:  803.5854414408493
r2:  0.543201868823541

## Test

In [100]:
X_test = df_test[features]
y_test = df_test[target]

model.fit(X_test, y_test)
model.intercept_, model.coef_

(236.18706995466255,
 array([ 2.00629657e+03,  3.80064139e+02,  8.04411812e+01, -2.32420203e-02]))

In [0]:
# make predictions

y_pred = model.predict(X_test)

# df['Predicted'] = y_pred
# df['Error'] = y_pred - y_train

# regression metrics
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [105]:
print('Intercept', model.intercept_)
coefficients = pd.Series(model.coef_, features)
print(coefficients.to_string())
print('r2: ', model.score(X_test, y_test))

print('MSE: ', mse)
print('RMSE: ', rmse)
print('MAE: ', mae)
print('r2: ', r2)

Intercept 236.18706995466255
bathrooms    2006.296572
bedrooms      380.064139
perks          80.441181
length         -0.023242
r2:  0.543201868823541
MSE:  1419738.306811739
RMSE:  1191.5277196992686
MAE:  803.5854414408493
r2:  0.543201868823541