<a href="https://colab.research.google.com/github/KhaSab5292/DS-Unit-2-Regression-Classification/blob/master/Copy_of_assignment_regression_classification_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.
- [ ] Watch Aaron's [video #1](https://www.youtube.com/watch?v=pREaWFli-5I) (12 minutes) & [video #2](https://www.youtube.com/watch?v=bDQgVt4hFgY) (9 minutes) to learn about the mathematics of Logistic Regression.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [0]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [0]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [0]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [0]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

# **Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.**

In [12]:
print(df.shape)
df.head()

(421, 59)

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California  1/24/2016   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California  1/27/2016   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [13]:
df.describe()

            Yelp     Google        Cost  ...     Synergy        Wrap  Queso
count  87.000000  87.000000  414.000000  ...  419.000000  418.000000    0.0
mean    3.887356   4.167816    7.067343  ...    3.586993    3.979904    NaN
std     0.475396   0.373698    1.506742  ...    0.886807    1.118185    NaN
min     2.500000   2.900000    2.990000  ...    1.000000    0.000000    NaN
25%     3.500000   4.000000    6.250000  ...    3.000000    3.500000    NaN
50%     4.000000   4.200000    6.990000  ...    3.800000    4.000000    NaN
75%     4.000000   4.400000    7.880000  ...    4.000000    5.000000    NaN
max     4.500000   5.000000   25.000000  ...    5.000000    5.000000    NaN

[8 rows x 19 columns]

In [14]:
df.describe(exclude = 'number')

           Burrito       Date Chips Unreliable  ... Avocado Corn Zucchini  Great
count          421        421    26         33  ...      13    3        1    421
unique           5        169     4          1  ...       1    2        1      2
top     California  8/30/2016     x          x  ...       x    x        x  False
freq           169         29    21         33  ...      13    2        1    239

[4 rows x 40 columns]

In [0]:
df.isnull().sum()

In [32]:
df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format = True)

train = df[df['Date'].dt.year <= 2016] 
val = df[df['Date'].dt.year == 2017]
test = df[df['Date'].dt.year >= 2018]

train.shape, val.shape, test.shape, df.shape

((298, 59), (85, 59), (38, 59), (421, 59))

# **Begin with baselines for classification.**

In [39]:
target = 'Great'
y_train = train[target]
y_val = val[target]

y_train.value_counts(normalize = True)

False    0.590604
True     0.409396
Name: Great, dtype: float64

In [64]:
baseline = y_train.value_counts(normalize = True)[0] 
print('Majority class baseline is False.')
print('Baseline training accuracy:', baseline)

Majority class baseline is False.
Baseline training accuracy: 0.5906040268456376

# **Use scikit-learn for logistic regression.**

In [70]:
# Import estimator classes
from sklearn.linear_model import LogisticRegression
from sklearn.impute import SimpleImputer

# Instantiate the classes
log_reg = LogisticRegression(solver = 'lbfgs')
imputer = SimpleImputer()

# Arrange X feature matrices
features = ['Cost',	'Hunger', 'Tortilla',	'Temp',	'Meat',	'Fillings',
            'Uniformity', 'Salsa',	'Synergy',	'Wrap']
X_train = train[features]
X_val = val[features]

# Impute missing values
X_train_imputed = imputer.fit_transform(X_train)
X_val_imputed = imputer.transform(X_val)

# Fit the model
log_reg.fit(X_train_imputed, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [71]:
pd.Series(log_reg.coef_[0], features)

Cost          0.279871
Hunger        0.162787
Tortilla      0.661180
Temp          0.491302
Meat          1.296735
Fillings      1.026435
Uniformity    0.358076
Salsa         0.243145
Synergy       1.879634
Wrap          0.290179
dtype: float64

# **Get your model's validation accuracy. (Multiple times if you try multiple iterations.)**

In [75]:
print('Validation accuracy:', log_reg.score(X_val_imputed, y_val))

Validation accuracy: 0.8588235294117647

In [73]:
# Import estimator classes
from sklearn.linear_model import LogisticRegressionCV
from sklearn.preprocessing import StandardScaler

# Instantiate the classes
model = LogisticRegressionCV(cv = 5, n_jobs = -1, random_state = 42)
scaler = StandardScaler()

# Standardize the features
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_val_scaled = scaler.transform(X_val_imputed)

# Fit the model
model.fit(X_train_scaled, y_train)

LogisticRegressionCV(Cs=10, class_weight=None, cv=5, dual=False,
                     fit_intercept=True, intercept_scaling=1.0, l1_ratios=None,
                     max_iter=100, multi_class='warn', n_jobs=-1, penalty='l2',
                     random_state=42, refit=True, scoring=None, solver='lbfgs',
                     tol=0.0001, verbose=0)

In [76]:
print('Validation accuracy:', model.score(X_val_scaled, y_val))

Validation accuracy: 0.8588235294117647

LogisticRegressionCV and standard scaling has given me the same validation score as before.

# **Get your model's test accuracy. (One time, at the end.)**

In [78]:
X_test = test[features]
y_test = test[target]

X_test_imputed = imputer.transform(X_test)

print('Test Accuracy:', log_reg.score(X_test_imputed, y_test))

Test Accuracy: 0.7894736842105263