<a href="https://colab.research.google.com/github/mattdmeans/DS-Unit-2-Linear-Models/blob/master/Copy_of_LS_DS_213_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [ ] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [2]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [36]:
from category_encoders import OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.feature_selection import SelectKBest
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import f_regression
# cat is better, from sklearn.linear_model import OneHotEncoder

In [3]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [4]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

In [5]:
df = df[df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS']

In [6]:
df = df[df['SALE_PRICE'] > 100000]
df = df[df['SALE_PRICE'] < 2000000]

In [7]:
df['MONTH'] = pd.to_datetime(df['SALE_DATE'], infer_datetime_format= True).dt.month

In [12]:
df = df.drop(columns= ['EASE-MENT', 'APARTMENT_NUMBER'])

In [8]:
train = df[(df['MONTH'] == 1) | (df['MONTH'] == 2) | (df['MONTH'] == 3)]
test = df[df['MONTH'] == 4]

In [9]:
print(train.shape)
print(test.shape)

(2507, 22)
(644, 22)

In [10]:
X_train = train.drop(columns = 'SALE_PRICE')
X_test = test.drop(columns = 'SALE_PRICE')
y_train = train['SALE_PRICE']
y_test = test['SALE_PRICE']

In [13]:
features = ['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_AT_PRESENT']

In [14]:
ohe = OneHotEncoder(use_cat_names= True)

In [16]:
X_train1 = ohe.fit_transform(X_train[features])
X_train2  = pd.concat([X_train, X_train1], axis = 1)
X_train2

      BOROUGH  ... BUILDING_CLASS_AT_PRESENT_B3
44          3  ...                            0
61          4  ...                            0
78          2  ...                            0
108         3  ...                            0
111         3  ...                            0
...       ...  ...                          ...
18129       5  ...                            0
18130       5  ...                            0
18132       5  ...                            0
18134       5  ...                            0
18147       4  ...                            0

[2507 rows x 45 columns]

In [17]:
X_test1 = ohe.transform(X_test[features])
X_test2 = pd.concat([X_test, X_test1], axis = 1)
X_test2

      BOROUGH  ... BUILDING_CLASS_AT_PRESENT_B3
18235       2  ...                            0
18239       2  ...                            0
18244       3  ...                            0
18280       3  ...                            0
18285       3  ...                            0
...       ...  ...                          ...
23029       4  ...                            0
23031       4  ...                            0
23032       4  ...                            0
23033       4  ...                            0
23035       4  ...                            0

[644 rows x 45 columns]

In [18]:
X_train2 = X_train2.select_dtypes(include='number')
X_test2 = X_test2.select_dtypes(include='number')

In [20]:
X_train3 = X_train2.dropna(axis=1)
X_test3 = X_test2.dropna(axis=1)
X_train3.head()

     BLOCK  LOT  ...  BUILDING_CLASS_AT_PRESENT_S0  BUILDING_CLASS_AT_PRESENT_B3
44    5495  801  ...                             0                             0
61    7918   72  ...                             0                             0
78    4210   19  ...                             0                             0
108   5212   69  ...                             0                             0
111   7930  121  ...                             0                             0

[5 rows x 34 columns]

In [22]:
sKb = SelectKBest(k=15)
X_train_selected = sKb.fit_transform(X_train3, y_train)
X_test_selected = sKb.transform(X_test3)

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:114: UserWarning: Features [ 8 14 32 33] are constant.
  UserWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

In [23]:
ridger = Ridge(normalize = True)
ridger.fit(X_train_selected, y_train)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None, normalize=True,
      random_state=None, solver='auto', tol=0.001)

In [24]:
y_pred = ridger.predict(X_test_selected)
y_pred

array([ 692975.25226378,  539172.11207445,  688586.13299411,
        624332.78983654,  554308.93630338,  610252.65809811,
        591161.65597908,  624801.40701306,  631901.20195101,
        636979.42392548,  627000.57433456,  403250.09923034,
        403250.09923034,  642621.2607903 ,  566735.08486403,
        598910.07432236,  573739.88208814,  985784.95466951,
        537637.58703413,  601563.21673777,  856450.97417524,
        556489.67287824,  646636.7605973 ,  564591.0389246 ,
        643347.22498837,  567638.64342012,  559491.371365  ,
        739662.90296933,  591161.65597908,  607823.78987501,
        579519.60783706,  583005.16855065,  581871.90909296,
        551189.58858225,  813610.88936565,  690637.59309049,
        645269.40860628,  626274.61013648,  606053.96636596,
        574471.2729955 ,  540515.4357517 ,  554869.36549739,
        835332.36941575,  597315.00119068,  619980.3612023 ,
        580755.10062097,  832624.75129112,  591281.11411654,
        565286.34216423,  600705.56419043,  729827.97193949,
        673841.3589745 ,  657494.70832069,  704888.46218841,
        653139.26484795,  612997.00956332,  604371.90495837,
        605036.54723954,  584530.47821765,  616439.67910664,
        552991.88195284,  586218.13719237,  580980.58074868,
        646854.23128708,  574098.25650052,  638327.13923446,
        603315.21246788,  549245.95937921,  588996.16445452,
        567727.44059913,  597869.40070771,  549674.09725626,
        587342.18127674,  666808.91563043,  548222.94268566,
        542998.21942147,  521444.07031471,  577387.79210944,
        595082.15807224,  554422.79687371,  655627.475227  ,
        347969.24465461,  699518.2358139 ,  623735.49914925,
        560768.54938377,  822493.66238057,  996076.90739373,
        667167.29004281,  561185.06001671,  560854.33172429,
        623037.18107114,  591161.65597908,  566974.00113895,
        652931.00953148,  588178.38823895,  604132.98868345,
        745355.41608848,  584769.39449257,  632480.06189166,
        617309.5618658 ,  749822.5326146 ,  637120.32764806,
        590803.28156671,  619214.69153031,  602019.60370247,
        579519.60783706,  586337.59532983,  560649.09124631,
        609162.28981068,  594656.43206599,  554879.78680611,
        658697.73124305,  603484.79738797,  582530.953807  ,
        590528.27762406,  639417.50752189,  901900.49587223,
        828864.47828196,  565678.39237354,  605394.92165192,
        621861.03044319,  603707.26267719,  694249.41544406,
        586065.00325797,  664116.6707088 ,  567727.44059913,
        609293.97815995,  652777.87559708,  673090.93435281,
        556869.49287574,  672956.60977889,  601116.04514638,
        570177.75440736,  650786.96359205,  629561.13090692,
        737812.89468689,  728804.95524594,  587786.33802964,
        587905.7961671 ,  512512.69784096,  570603.48041361,
        595866.25849087,  645200.2481093 ,  598436.03043656,
        581220.09999129,  640878.48043351,  641267.51580433,
        600227.12867289,  697095.39726779,  554804.42577431,
        687781.18995805,  585231.20816656,  563124.46844586,
        588319.29196154,  607299.44834873,  765192.11528876,
        557632.14770924,  671259.35681701,  578138.21673114,
        585195.12049882,  591945.75639771,  612758.0932884 ,
        710311.24381421,  676117.0932632 ,  578138.21673114,
        588656.22078879,  600920.02004172,  596518.67056024,
        597434.45932814,  577320.44051556,  570655.58695719,
        578616.04928097,  563666.03478338,  583201.1936553 ,
        597651.93001793,  538574.82138716,  565286.34216423,
        693960.20152866,  762313.01793065,  581547.21047752,
        576426.09733279,  681130.37551458,  572249.45415347,
        638798.77124947,  594750.65595428,  598310.37176427,
        663881.37224007,  571081.31296345,  724026.84331058,
        584965.41959723,  577461.34423815,  619269.81291238,
        581360.40074618,  658649.4133635 ,  645408.50342577,
        606877.34014866,  578410.80880299,  638088.22295954,
        576361.7605774 ,  777661.15501968,  602760.81295084,
        603826.72081465,  605275.46351446,  584769.39449257,
        590377.55556045,  578735.50741843,  588996.16445452,
        679629.52627119,  574277.05679393,  615680.03911163,
        554256.8297598 ,  594271.61746905,  562915.61016169,
        657911.21895362,  643108.30871345,  611254.22920653,
        591042.19784162,  602531.11204925,  917381.75159978,
        599275.25223726,  620641.98864498,  615404.43220129,
        691100.78355772,  644088.43423674,  592533.83171169,
        636912.0723316 ,  612464.05563142,  734728.59955594,
        561160.59959309,  845686.59387644,  699672.35132985,
        682170.99563322,  595899.93428781,  590411.23135739,
        598218.55974677,  584888.85263003,  631913.43216282,
        570765.82972133,  602258.51997739,  610525.25016996,
        599122.11830286,  583495.23131229,  573041.56401003,
        605786.97186123,  612332.36728215,  641083.72091148,
        583302.82401382,  566826.29391383,  684549.79056968,
        618170.22925163,  611698.98892712,  569886.73158886,
        604371.90495837,  692788.44253245,  596291.98449713,
        632207.4698198 ,  657222.11624883, 1049993.026548  ,
        576878.69563346,  588025.25430455,  577733.93631001,
        598218.55974677,  712586.9781029 ,  537766.26054491,
        581972.93648378,  667645.12259264,  568695.33591061,
        403250.09923034,  616372.32751277,  665825.77526865,
        775509.60640887,  702796.52279256,  800873.41187695,
        679883.03113271,  801726.29417872,  640201.60794052,
        591161.65597908,  625423.15812397,  590149.06059425,
        686102.14338894,  619738.43008889,  613508.51791009,
        563077.95946941,  564131.63712141,  638526.17917761,
        602139.06183993,  582063.54256588,  572729.6985741 ,
        570275.76695969,  594750.65595428,  579075.45108417,
        572708.85595667,  572708.85595667,  575939.04940964,
        611667.72500097,  575053.92160019,  624452.247974  ,
        580609.97612449,  575437.96237158,  620957.4718871 ,
        856994.08080038,  897920.43650365,  571626.49710716,
        582606.3148388 ,  538626.92793074,  648128.39446736,
        595857.04311755,  938325.43375714,  594298.05765361,
        705196.16034646,  610188.32134272,  551304.22297812,
        674472.32545873,  632654.64141119,  592490.94054143,
        617983.41952029,  622014.16437759,  601345.74604798,
        602019.60370247,  675375.88401482,  590497.01369791,
        571482.57854608,  594417.51579107,  587274.82968286,
        624335.80467503,  914182.11247072,  684695.89416373,
        555944.48873452,  627230.27523615,  577167.30658116,
        655338.43216945,  665225.46974287,  409325.67153934,
        599057.78154747,  653497.63926033,  561163.01146388,
        536972.94475296,  645451.39459603,  652048.89656052,
        772052.99395179,  566505.38396243,  680582.77950007,
        593939.68324123,  613542.19370703,  617309.5618658 ,
        578300.56603885,  582732.57647879,  573467.29001628,
        563947.84222856,  589572.00955669,  592849.3149538 ,
        577503.63244071,  552621.27732866,  594331.73345055,
        572768.97193817,  713156.62267024,  658202.24177212,
        666426.08079444,  566137.79417674,  590528.27762406,
        580495.34172862,  715168.9802604 ,  642639.69153694,
        585415.6060271 ,  669691.15597974,  411013.33051406,
        564382.78360814,  605982.99696589,  560897.22289455,
        568695.33591061,  729129.65386138,  756018.76899646,
        632568.85907067,  573203.91331775,  662940.52008085,
        672447.73765676,  403250.09923034,  587568.86733985,
        559993.66433846,  605768.54111459,  643001.0807878 ,
        593428.17489446,  718696.00185499,  583507.4615241 ,
        585195.12049882,  639656.42379681,  621622.11416827,
        665847.22085378,  785814.58490448,  600920.02004172,
        611428.80872606,  602258.51997739,  558348.896534  ,
        608411.86518899,  605394.92165192,  554256.8297598 ,
        581632.99281804,  609860.60788879,  573314.15608188,
        594570.64972547,  694978.39448062,  585008.31076748,
        617113.53676114,  624098.69730321,  595967.28588169,
        834033.34811619,  700816.2564501 ,  617723.05766024,
        575360.18946898,  623974.41542417,  608139.27311713,
        598338.01788423,  576450.55775641,  601666.05303168,
        601666.05303168,  578018.75859368,  570428.90089408,
        589639.36115057,  628495.22304311,  628495.22304311,
        605275.46351446,  563585.85000999,  588876.70631707,
        593406.72930933,  576851.82333905,  628679.01793596,
        595942.82545807,  564569.59333947,  655619.63664693,
        604610.82123328,  586230.36740418,  561522.59181165,
        594334.14532134,  685976.48471666,  564897.3067934 ,
        596062.28359553,  837434.06322323,  408988.13974439,
        599361.03457778,  611275.67479166,  647583.21032365,
        577265.31913349,  575697.11829623,  644207.8923742 ,
        403250.09923034,  694107.08143222,  717127.80101773,
        664303.48044014,  655644.70003825,  607508.3066329 ,
        593275.04096006,  690546.38404069,  651126.90725779,
        558416.24812788,  777550.91225554,  596530.90077205,
        587786.33802964,  610372.11623557,  605394.92165192,
        604763.95516768,  585672.95304866,  643031.74174625,
        660827.13509987,  630366.67691068,  599394.71037472,
        599122.11830286,  869300.77122358,  587189.04734234,
        578049.41955213,  534041.7835564 ,  517609.35056207,
        595921.37987294,  667807.47190036,  504595.12668744,
        575632.78154084,  777564.02463396,  777564.02463396,
        656548.25859434,  619542.40498423,  603924.73336698,
       1066427.83965115,  625695.75019583,  638492.50338067,
        627475.22118805,  615839.37358086,  592849.3149538 ,
        587786.33802964,  593863.11627403,  614804.1266755 ,
        609358.31491534,  601572.43211109,  558740.94674331,
        552391.57642706,  558109.98025908,  583354.3275897 ,
        570842.39668853,  605765.5262761 ,  615272.74385202,
        585553.4949112 ,  627230.27523615,  594298.05765361,
        601985.92790553,  645350.36720521,  587795.55340296,
        676064.98671962,  589712.91327928,  572922.10587257,
        592622.6288907 ,  560474.51172679,  746663.2550657 ,
        629343.66021713,  654009.1476071 ,  595627.34221596,
        573804.21884353,  588689.89658573,  601627.55349316,
        585182.89028701,  619946.68540536,  655381.32333971,
        602258.51997739,  633622.53672267,  614804.1266755 ,
        626730.99710119,  583507.4615241 ,  403250.09923034,
        573510.18118654,  572713.8505561 ,  745713.79050086,
        578530.26694045,  644633.61838046, 1205973.79278233,
        776246.08811681,  634985.49708196,  600570.86100267,
        554308.93630338,  605394.92165192,  667645.12259264,
        603826.72081465,  606059.56393309,  645016.45321645,
        559758.36586973,  696644.60787022,  649849.72923902,
        790337.84709936,  568303.2857013 ,  628133.83379225,
        555050.14555175,  560615.41544937,  705988.04584916,
        604065.63708957,  550226.0849025 ,  662220.75641761,
        553699.41540427,  567194.48666723,  567911.23549198,
        594144.92371921,  679918.1372189 ,  621720.1267206 ,
        613116.46770078,  584172.10380527,  576263.74802507,
        677599.51175994,  694149.97260248,  600690.31914012,
        982556.97742554,  577822.73348902,  625781.53253635,
        629702.03462951,  627349.73337361,  618528.603664  ,
        581819.80254938,  731874.00532659,  608650.7814639 ,
        601312.07025104,  594245.95111003,  641604.44463158,
        633699.10368987,  554844.90507377,  567160.81087029,
        597315.00119068,  674428.00399922,  641071.49069967,
        620053.91333101,  594417.51579107,  602445.32970873,
        635310.19569739,  574566.87367703,  580132.14357466,
        601030.26280586,  598610.60995609,  560770.96125457,
        652713.53884169,  587948.68733735,  616439.67910664,
        590870.63316059,  611906.64127589,  576842.60796573,
        569359.97819178,  619116.67897798,  645132.29354772,
        634134.04506944,  556422.32128436,  601302.85487772,
        551837.17691002,  592916.66654768,  633426.51161801,
        918903.93979376,  813811.06878438,  650459.25013813,
        591967.80495054,  665292.82133675,  582484.44483055,
        596992.71444604,  548820.23337295,  566343.03465472,
        664848.66458385,  557053.28776859,  623974.41542417,
        617266.67069554,  588025.25430455,  561609.58008757,
        637683.33957072,  826511.23970614,  556183.40500944,
        592218.34846957,  823523.29927064,  641181.73346381,
        683143.33607244,  628210.40075944,  628397.21049078,
        774768.3971605 ,  631870.54099256,  895123.34376518,
        693707.24613884,  619900.77939661,  607976.92380941,
        576527.12472361,  551359.34436019,  635552.1268108 ,
        616840.94468928,  595746.80035342,  595878.48870268,
        568575.87777315,  585195.12049882])

In [26]:
mae = mean_absolute_error(y_test,y_pred)
print('MAE:', mae)

MAE: 183928.52503929735

In [37]:
for k in range(1, len(X_train3.columns)+1):
    print(f'{k} features')
    
    selector = SelectKBest(score_func = f_regression, k=k)
    X_train_selected = selector.fit_transform(X_train3, y_train)
    X_test_selected = selector.transform(X_test3)
    model = LinearRegression()
    model.fit(X_train_selected, y_train)
    y_pred = model.predict(X_test_selected)
    mae = mean_absolute_error(y_test, y_pred)
    print(f'Test Mean Absolute Error: ${mae:,.0f} \n')

1 features
Test Mean Absolute Error: $183,641

2 features
Test Mean Absolute Error: $182,569

3 features
Test Mean Absolute Error: $173,706

4 features
Test Mean Absolute Error: $174,556

5 features
Test Mean Absolute Error: $172,843

6 features
Test Mean Absolute Error: $173,412

7 features
Test Mean Absolute Error: $173,241

8 features
Test Mean Absolute Error: $168,668

9 features
Test Mean Absolute Error: $169,452

10 features
Test Mean Absolute Error: $169,006

11 features
Test Mean Absolute Error: $161,221

12 features
Test Mean Absolute Error: $162,578

13 features
Test Mean Absolute Error: $161,733

14 features
Test Mean Absolute Error: $161,547

15 features
Test Mean Absolute Error: $161,307

16 features
Test Mean Absolute Error: $159,301

17 features

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

Test Mean Absolute Error: $159,370

18 features
Test Mean Absolute Error: $159,370

19 features
Test Mean Absolute Error: $159,370

20 features
Test Mean Absolute Error: $159,092

21 features
Test Mean Absolute Error: $159,888

22 features
Test Mean Absolute Error: $159,939

23 features
Test Mean Absolute Error: $159,464

24 features
Test Mean Absolute Error: $159,470

25 features
Test Mean Absolute Error: $159,132

26 features
Test Mean Absolute Error: $159,941

27 features
Test Mean Absolute Error: $159,485

28 features
Test Mean Absolute Error: $159,557

29 features
Test Mean Absolute Error: $159,671

30 features

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

Test Mean Absolute Error: $159,588

31 features
Test Mean Absolute Error: $159,963

32 features
Test Mean Absolute Error: $159,963

33 features
Test Mean Absolute Error: $159,963

34 features
Test Mean Absolute Error: $159,963

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

In [40]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train3)
X_test_scaled = scaler.transform(X_test3)

In [42]:
k = 16
selector = SelectKBest(score_func=f_regression, k=k)
X_train_selected = selector.fit_transform(X_train_scaled, y_train)

all_features = X_train3.columns
mask = selector.get_support()
selected_names = all_features[mask]
not_selected = all_features[~mask]

print('Features selected:')
for name in selected_names:
  print(name)
  
print('\nFeatures not selected:')
for name in not_selected:
  print(name)

Features selected:
BLOCK
ZIP_CODE
COMMERCIAL_UNITS
TOTAL_UNITS
GROSS_SQUARE_FEET
BOROUGH_3
BOROUGH_2
BOROUGH_5
NEIGHBORHOOD_OTHER
NEIGHBORHOOD_FLUSHING-NORTH
NEIGHBORHOOD_FOREST HILLS
NEIGHBORHOOD_BOROUGH PARK
BUILDING_CLASS_AT_PRESENT_A5
BUILDING_CLASS_AT_PRESENT_A3
BUILDING_CLASS_AT_PRESENT_S1
BUILDING_CLASS_AT_PRESENT_A6

Features not selected:
LOT
RESIDENTIAL_UNITS
YEAR_BUILT
TAX_CLASS_AT_TIME_OF_SALE
MONTH
BOROUGH_4
BOROUGH_1
NEIGHBORHOOD_BEDFORD STUYVESANT
NEIGHBORHOOD_ASTORIA
BUILDING_CLASS_AT_PRESENT_A9
BUILDING_CLASS_AT_PRESENT_A1
BUILDING_CLASS_AT_PRESENT_A0
BUILDING_CLASS_AT_PRESENT_A2
BUILDING_CLASS_AT_PRESENT_A4
BUILDING_CLASS_AT_PRESENT_A8
BUILDING_CLASS_AT_PRESENT_B2
BUILDING_CLASS_AT_PRESENT_S0
BUILDING_CLASS_AT_PRESENT_B3

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: invalid value encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)