<a href="https://colab.research.google.com/github/LambdaTheda/DS-Unit-2-Linear-Models/blob/master/FRI_mar_6_unit_2_build_pokemon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:

'''
# Using Define ML problems (Unit 2, Sprint 3, Module 1)
# https://colab.research.google.com/drive/10xIG5cOmGnpSJG7BGrpZEGSvuT9X4Vdi#scrollTo=nCc3XZEyG3XV

from urllib.request import urlopen
from zipfile import ZipFile
from io import BytesIO
import os.path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Read Data 
pokemon_url = 'https://www.kaggle.com/semioniy/predictemall'
pokemon_file = 'predictemall.zip'

if os.path.exists('predictemall.zip'):
    pokemon = pd.read_csv('predictemall.zip')
else: 
    z_pokemon = urlopen(pokemon_url)
    zip_pokemon = ZipFile(BytesIO(z_pokemon.read())).extract(pokemon_file)
    extractall()
    df = pd.read_csv(zip_pokemon)

df.head()
'''

"\n# Using Define ML problems (Unit 2, Sprint 3, Module 1)\n# https://colab.research.google.com/drive/10xIG5cOmGnpSJG7BGrpZEGSvuT9X4Vdi#scrollTo=nCc3XZEyG3XV\n\nfrom urllib.request import urlopen\nfrom zipfile import ZipFile\nfrom io import BytesIO\nimport os.path\nimport pandas as pd\nimport numpy as np\nimport matplotlib.pyplot as plt\n\n# Read Data \npokemon_url = 'https://www.kaggle.com/semioniy/predictemall'\npokemon_file = 'predictemall.zip'\n\nif os.path.exists('predictemall.zip'):\n    pokemon = pd.read_csv('predictemall.zip')\nelse: \n    z_pokemon = urlopen(pokemon_url)\n    zip_pokemon = ZipFile(BytesIO(z_pokemon.read())).extract(pokemon_file)\n    extractall()\n    df = pd.read_csv(zip_pokemon)\n\ndf.head()\n"

In [4]:
'''
from zipfile import ZipFile

# Create a ZipFile Object and load sample.zip in it
with ZipFile('predictemall.zip', 'r') as zipObj:
   # Extract all the contents of zip file in current directory
   zipObj.extractall()

print('Good JaAb, LadyFace!')
'''

"\nfrom zipfile import ZipFile\n\n# Create a ZipFile Object and load sample.zip in it\nwith ZipFile('predictemall.zip', 'r') as zipObj:\n   # Extract all the contents of zip file in current directory\n   zipObj.extractall()\n\nprint('Good JaAb, LadyFace!')\n"

In [5]:
'''
from google.colab import drive
drive.mount('/content/drive')
'''

"\nfrom google.colab import drive\ndrive.mount('/content/drive')\n"

In [10]:
import pandas as pd

df = pd.read_csv('300k.csv')
pd.set_option("display.max_rows", 91835)
df

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (49,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        pokemonId   latitude   longitude  ... cooc_150 cooc_151  class
0              16  20.525745  -97.460829  ...    False    False   16.0
1             133  20.523695  -97.461167  ...    False    False  133.0
2              16  38.903590  -77.199780  ...    False    False   16.0
3              13  47.665903 -122.312561  ...    False    False   13.0
4             133  47.666454 -122.311628  ...    False    False  133.0
...           ...        ...         ...  ...      ...      ...    ...
115015         19  48.746927    2.402898  ...    False    False   19.0
115016         48  33.784361  -84.372646  ...    False    False   48.0
115017        122  52.213859   20.977942  ...    False    False  122.0
115018        118  50.068368   14.468225  ...    False    False  118.0
115019         19  52.202915   20.967236  ...      NaN      NaN    NaN

[115020 rows x 208 columns]

In [0]:
df_Names = pd.read_csv('pokemonNumbers.csv', header= None)
pd.set_option("display.max_rows", 91835)
df_Names

In [28]:
df_Names.columns=['pokeID_num_From_df_Names', 'pokemonName']
df_Names

     pokeID_num_From_df_Names pokemonName
0                           1   Bulbasaur
1                           2     Ivysaur
2                           3    Venusaur
3                           4  Charmander
4                           5  Charmeleon
5                           6   Charizard
6                           7    Squirtle
7                           8   Wartortle
8                           9   Blastoise
9                          10    Caterpie
10                         11     Metapod
11                         12  Butterfree
12                         13      Weedle
13                         14      Kakuna
14                         15    Beedrill
15                         16      Pidgey
16                         17   Pidgeotto
17                         18     Pidgeot
18                         19     Rattata
19                         20    Raticate
20                         21     Spearow
21                         22      Fearow
22                         23       Ekans
23                         24       Arbok
24                         25     Pikachu
25                         26      Raichu
26                         27   Sandshrew
27                         28   Sandslash
28                         29   Nidoran F
29                         30    Nidorina
30                         31   Nidoqueen
31                         32   Nidoran M
32                         33    Nidorino
33                         34    Nidoking
34                         35    Clefairy
35                         36    Clefable
36                         37      Vulpix
37                         38   Ninetales
38                         39  Jigglypuff
39                         40  Wigglytuff
40                         41       Zubat
41                         42      Golbat
42                         43      Oddish
43                         44       Gloom
44                         45   Vileplume
45                         46       Paras
46                         47    Parasect
47                         48     Venonat
48                         49    Venomoth
49                         50     Diglett
50                         51     Dugtrio
51                         52      Meowth
52                         53     Persian
53                         54     Psyduck
54                         55     Golduck
55                         56      Mankey
56                         57    Primeape
57                         58   Growlithe
58                         59    Arcanine
59                         60     Poliwag
60                         61   Poliwhirl
61                         62   Poliwrath
62                         63        Abra
63                         64     Kadabra
64                         65    Alakazam
65                         66      Machop
66                         67     Machoke
67                         68     Machamp
68                         69  Bellsprout
69                         70  Weepinbell
70                         71  Victreebel
71                         72   Tentacool
72                         73  Tentacruel
73                         74     Geodude
74                         75    Graveler
75                         76       Golem
76                         77      Ponyta
77                         78    Rapidash
78                         79    Slowpoke
79                         80     Slowbro
80                         81   Magnemite
81                         82    Magneton
82                         83  Farfetch'd
83                         84       Doduo
84                         85      Dodrio
85                         86        Seel
86                         87     Dewgong
87                         88      Grimer
88                         89         Muk
89                         90    Shellder
90                         91    Cloyster
91                         92      Gastly
92                         93     Haunter
93                         94      Gengar
94                         95        Onix
95                         96     Drowzee
96                         97       Hypno
97                         98      Krabby
98                         99     Kingler
99                        100     Voltorb
100                       101   Electrode
101                       102   Exeggcute
102                       103   Exeggutor
103                       104      Cubone
104                       105     Marowak
105                       106   Hitmonlee
106                       107  Hitmonchan
107                       108   Lickitung
108                       109     Koffing
109                       110     Weezing
110                       111     Rhyhorn
111                       112      Rhydon
112                       113     Chansey
113                       114     Tangela
114                       115  Kangaskhan
115                       116      Horsea
116                       117      Seadra
117                       118     Goldeen
118                       119     Seaking
119                       120      Staryu
120                       121     Starmie
121                       122    Mr. Mime
122                       123     Scyther
123                       124        Jynx
124                       125  Electabuzz
125                       126      Magmar
126                       127      Pinsir
127                       128      Tauros
128                       129    Magikarp
129                       130    Gyarados
130                       131      Lapras
131                       132       Ditto
132                       133       Eevee
133                       134    Vaporeon
134                       135     Jolteon
135                       136     Flareon
136                       137     Porygon
137                       138     Omanyte
138                       139     Omastar
139                       140      Kabuto
140                       141    Kabutops
141                       142  Aerodactyl
142                       143     Snorlax
143                       144    Articuno
144                       145      Zapdos
145                       146     Moltres
146                       147     Dratini
147                       148   Dragonair
148                       149   Dragonite
149                       150      Mewtwo

In [0]:
#df_Names.merge(df, left_on='pokemonName', right_on='pokemonId')

In [0]:
'''
df_new = df_Names.rename(columns={'0': 'pokeID#', '1': 'pokemonName'}, index={'0': '1'})
print(df_new)
'''

In [0]:
print(df_Names.dtypes)

In [0]:
#print(df_Names.rename(columns={'0': 'PokeID#', '1': 'PokemonGoName'})) - not work

In [0]:
#df_Names.reset_index()

In [0]:
#df_Names.reset_index(drop=True)

In [0]:
'''
df3 = df_Names[1:]
df3
'''

In [0]:
# join df and df_Names using .concat for union of dfs

df3 =  pd.concat([df_Names, df], axis=1, sort=False)
pd.set_option("display.max_rows", 91835)
df3

In [0]:
#Attempt 2 (below?) continued: turn pokemon id #s from df_Names into a list
'''
all_poke_Nums = df_Names['pokeID#From_df_Names'].tolist()
all_poke_Nums
'''

In [0]:
# #Attempt 2 continued: turn pokemon names from df_Names into a list
names = df_Names['pokemonName'].to_list()
names

In [0]:
#map pokemonIds to PokemonNames

#attempt 1
#df.replace([0, 1, 2, 3], 4)
---------
#attempt 2
'''
from https://datascience.stackexchange.com/questions/39773/mapping-column-values-of-one-dataframe-to-another-dataframe-using-a-key-with-dif :

You can convert df2 to a dictionary and use that to replace the values in df1

cat_1 = [10, 11, 12]
cat_2 = [25, 22, 30]
cat_3 = [12, 14, 15]

df1 = pd.DataFrame({'cat1':cat_1, 'cat2':cat_2, 'cat3':cat_3})

all_cats = [10, 11, 12, 25, 22, 30, 15]
cat_codes = ['A', 'B', 'C', 'D', 'E', 'F', 'G']

df2 = pd.DataFrame({'all_cats':all_cats, 'cat_codes':cat_codes})

rename_dict = df2.set_index('all_cats').to_dict()['cat_codes']

df1 = df1.replace(rename_dict)

# convert df_Names into a dictionary
df_Names = pd.Dataframe({'all_poke_Nums': names})
rename_dict = df_Names.set_index('all_poke_Nums').to_dict()[names]
rename_dict
'''

In [31]:
#ATTEMPT 3: map pokemonIds to PokemonNames
# from https://stackoverflow.com/questions/17426292/what-is-the-most-efficient-way-to-create-a-dictionary-of-two-pandas-dataframe-co

pd.Series(df_Names.pokemonName.values, index=df_Names.pokeID_num_From_df_Names).to_dict()

{1: 'Bulbasaur',
 2: 'Ivysaur',
 3: 'Venusaur',
 4: 'Charmander',
 5: 'Charmeleon',
 6: 'Charizard',
 7: 'Squirtle',
 8: 'Wartortle',
 9: 'Blastoise',
 10: 'Caterpie',
 11: 'Metapod',
 12: 'Butterfree',
 13: 'Weedle',
 14: 'Kakuna',
 15: 'Beedrill',
 16: 'Pidgey',
 17: 'Pidgeotto',
 18: 'Pidgeot',
 19: 'Rattata',
 20: 'Raticate',
 21: 'Spearow',
 22: 'Fearow',
 23: 'Ekans',
 24: 'Arbok',
 25: 'Pikachu',
 26: 'Raichu',
 27: 'Sandshrew',
 28: 'Sandslash',
 29: 'Nidoran F',
 30: 'Nidorina',
 31: 'Nidoqueen',
 32: 'Nidoran M',
 33: 'Nidorino',
 34: 'Nidoking',
 35: 'Clefairy',
 36: 'Clefable',
 37: 'Vulpix',
 38: 'Ninetales',
 39: 'Jigglypuff',
 40: 'Wigglytuff',
 41: 'Zubat',
 42: 'Golbat',
 43: 'Oddish',
 44: 'Gloom',
 45: 'Vileplume',
 46: 'Paras',
 47: 'Parasect',
 48: 'Venonat',
 49: 'Venomoth',
 50: 'Diglett',
 51: 'Dugtrio',
 52: 'Meowth',
 53: 'Persian',
 54: 'Psyduck',
 55: 'Golduck',
 56: 'Mankey',
 57: 'Primeape',
 58: 'Growlithe',
 59: 'Arcanine',
 60: 'Poliwag',
 61: 'Poliwhirl',
 62: 'Poliwrath',
 63: 'Abra',
 64: 'Kadabra',
 65: 'Alakazam',
 66: 'Machop',
 67: 'Machoke',
 68: 'Machamp',
 69: 'Bellsprout',
 70: 'Weepinbell',
 71: 'Victreebel',
 72: 'Tentacool',
 73: 'Tentacruel',
 74: 'Geodude',
 75: 'Graveler',
 76: 'Golem',
 77: 'Ponyta',
 78: 'Rapidash',
 79: 'Slowpoke',
 80: 'Slowbro',
 81: 'Magnemite',
 82: 'Magneton',
 83: "Farfetch'd",
 84: 'Doduo',
 85: 'Dodrio',
 86: 'Seel',
 87: 'Dewgong',
 88: 'Grimer',
 89: 'Muk',
 90: 'Shellder',
 91: 'Cloyster',
 92: 'Gastly',
 93: 'Haunter',
 94: 'Gengar',
 95: 'Onix',
 96: 'Drowzee',
 97: 'Hypno',
 98: 'Krabby',
 99: 'Kingler',
 100: 'Voltorb',
 101: 'Electrode',
 102: 'Exeggcute',
 103: 'Exeggutor',
 104: 'Cubone',
 105: 'Marowak',
 106: 'Hitmonlee',
 107: 'Hitmonchan',
 108: 'Lickitung',
 109: 'Koffing',
 110: 'Weezing',
 111: 'Rhyhorn',
 112: 'Rhydon',
 113: 'Chansey',
 114: 'Tangela',
 115: 'Kangaskhan',
 116: 'Horsea',
 117: 'Seadra',
 118: 'Goldeen',
 119: 'Seaking',
 120: 'Staryu',
 121: 'Starmie',
 122: 'Mr. Mime',
 123: 'Scyther',
 124: 'Jynx',
 125: 'Electabuzz',
 126: 'Magmar',
 127: 'Pinsir',
 128: 'Tauros',
 129: 'Magikarp',
 130: 'Gyarados',
 131: 'Lapras',
 132: 'Ditto',
 133: 'Eevee',
 134: 'Vaporeon',
 135: 'Jolteon',
 136: 'Flareon',
 137: 'Porygon',
 138: 'Omanyte',
 139: 'Omastar',
 140: 'Kabuto',
 141: 'Kabutops',
 142: 'Aerodactyl',
 143: 'Snorlax',
 144: 'Articuno',
 145: 'Zapdos',
 146: 'Moltres',
 147: 'Dratini',
 148: 'Dragonair',
 149: 'Dragonite',
 150: 'Mewtwo'}

In [0]:
#df.drop(['B', 'C'], axis=1) ; df.drop(columns=['B', 'C'])
df3.drop(columns=['pokeIndex#'])
df3

In [0]:
df3.sort_values(by='pokemonId', ascending=False)

In [0]:
df3.isnull().sum().sort_values(ascending = True)

In [0]:
#df.merge(df_Names, left_on='pokemonName', right_on='pokemonId')

In [0]:
#try to get df_Names to Left of df: df.merge(df, left_on='1', right_on='pokemonId')- DOESN'T WORK

In [0]:
# Replace pokemon go ids with character names 

# df_Names.replace(to_replace= df['pokemonId']) - doesn't work :'0(

#Attempt 2:
#df.replace(df['pokemonId'], df_Names)

In [0]:
#Merge df and df_Names
'''
df3 = pd.merge(df, df_Names)
df3
'''

In [0]:
df.shape

In [0]:
df.head()

In [0]:
#sort pokemonId to replace with names from 'pokemonNumbers.csv'
#df.sort_values(by=['pokemonId'])

In [0]:
#pd.options.display.max_columns = None
#pd.set_option('display.max_columns', len(df.columns))
#pd.set_option('display.max_columns', None) 

pd.set_option("display.max_columns", 208)
#df

#pd.set_option("display.max_rows", 91835)
df.columns.tolist()

In [0]:
#pd.options.display.max_columns = 208
pd.set_option('display.max_columns', len(df.columns))
df.isnull().sum().sort_values(ascending = False)

In [0]:
 pd.options.display.max_rows

In [0]:
'''
from scipy.io import arff
import pandas as pd

data = arff.loadarff('300k.arff')
df_arff = pd.DataFrame(data[0])

ARFF stands for Attribute-Relation File Format. It is an ASCII 
text file that describes a list of instances sharing a set of attributes.

df_arff.head()
'''

In [0]:
'''
import numpy as np
import pandas as pd
from scipy.io.arff import loadarff 

raw_data = loadarff('300k.arff')
df_data = pd.DataFrame(raw_data[0])
'''

In [0]:
# Choose your target. Which column in your tabular dataset will you predict?
#train = df
y = df['appearedDayOfWeek']
y

In [0]:
df['appearedDayOfWeek'].nunique()

In [0]:
'''
pd.set_option("display.max_rows", 142055)
print(df)
'''

In [0]:
df.appearedDayOfWeek.unique()

In [0]:
# Fit a Classification model
# Try a shallow decision tree as a fast, first model

#pip install --upgrade category_encoders
# from sklearn.preprocessing import CategoricalEncoder
#pip install category_encoders

!pip install category_encoders==2.* 

import numpy as np
import category_encoders as ce
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split

#encoder = ce.OrdinalEncoder(cols=[...])

target = 'appearedDayOfWeek'
features = ['appearedMonth', 'appearedYear', 'appearedDay', 'pokestopDistanceKm', 'weather', 'latitude', 'longitude']

#train = df 

X_train, X_test, y_train, y_test = train_test_split(df[features], df[target])
#train, test = train_test_split(df)

pipeline = make_pipeline(
    ce.OrdinalEncoder(),
    SimpleImputer(strategy='most_frequent'),
    RandomForestClassifier()
)

pipeline.fit(X_train, y_train)
acc_score = pipeline.score(test[features], test[target])
ra_score = roc_auc_score(test[target], pipeline.predict(test[features]))

print(f'Test Accuracy: {pipeline.score(X_test, y_test)}')
print(f'Test ROC AUC: {roc_auc_score(y_test, pipeline.predict(X_test))}\n')

print(f'Val Accuracy: {acc_score}')
print(f'Val ROC AUC: {ra_score}')

In [0]:
# check Nulls
df.isnull().sum()
pd.set_option("display.max_rows", 999
             )

In [0]:
#Get BASELINE- the first way to get the highest accuracy by assuming majority, [by] assum[ing] majority:
'''
average for regression should be the majority value in a sense; 
classification is assuming all values are the highest majority value- BASELINE IS PREDICTING MODE CLASS (largest # of observations
'''