<a href="https://colab.research.google.com/github/PalmerTurley34/DS-Unit-2-Linear-Models/blob/master/LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

## Data Exploration and Create New Features

In [106]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [107]:
# bedroom to bathroom ratio
df['bed_bath_ratio'] = df['bedrooms']/df['bathrooms']
df[['bedrooms', 'bathrooms', 'bed_bath_ratio']]

       bedrooms  bathrooms  bed_bath_ratio
0             3        1.5             2.0
1             2        1.0             2.0
2             1        1.0             1.0
3             1        1.0             1.0
4             4        1.0             4.0
...         ...        ...             ...
49347         2        1.0             2.0
49348         1        1.0             1.0
49349         1        1.0             1.0
49350         0        1.0             0.0
49351         2        1.0             2.0

[48817 rows x 3 columns]

In [108]:
# look at the valu counts of that column
df['bed_bath_ratio'].value_counts(dropna=False)

1.000000    19014
2.000000    12240
0.000000     9166
3.000000     3603
1.500000     2772
4.000000      366
1.333333      343
0.500000      206
0.666667      188
inf           153
NaN           151
2.500000      129
1.200000      128
0.800000       83
2.666667       61
1.600000       38
1.666667       35
1.250000       31
1.142857       27
0.857143       24
0.333333       14
0.750000       12
5.000000       10
0.888889        7
3.333333        5
1.428571        3
0.400000        2
6.000000        1
2.400000        1
0.222222        1
2.333333        1
0.571429        1
0.200000        1
Name: bed_bath_ratio, dtype: int64

In [109]:
# change inf and nan to 0
df = df.replace(float('inf'), 0)
df = df.replace(np.nan, 0)
df['bed_bath_ratio'].isnull().sum()

0

In [110]:
# total perks column
df['total_perks'] = df.loc[:, 'elevator':'common_outdoor_space'].sum(axis=1)
df.head()

   bathrooms  bedrooms  ... bed_bath_ratio total_perks
0        1.5         3  ...            2.0           0
1        1.0         2  ...            2.0           5
2        1.0         1  ...            1.0           3
3        1.0         1  ...            1.0           2
4        1.0         4  ...            4.0           1

[5 rows x 36 columns]

In [111]:
# make the interest_level numeric
df['interest_level'].value_counts()

low       33946
medium    11181
high       3690
Name: interest_level, dtype: int64

In [0]:
df = df.replace({'low':1, 'medium':2, 'high':3})

# Train Test Split

In [0]:
april_and_may = [(time.find('04')==5) | (time.find('05')==5) for time in df['created'].values]
june = [time.find('06')==5 for time in df['created'].values]

In [0]:
train = df[april_and_may]
test = df[june]

In [0]:
# make features and target
features = ['bedrooms', 'bed_bath_ratio', 'total_perks']
target = 'price'

In [0]:
X_train = train[features]
y_train = train[target]
X_test = test[features]
y_test = test[target]

In [118]:
df.shape, train.shape, test.shape

((48817, 36), (31844, 36), (16973, 36))

## Linear Regression Model

In [0]:
# import model
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [120]:
# fit the model
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [121]:
# predict test data
y_pred = model.predict(X_test)
y_pred[:10]

array([4695.91814743, 3374.71104181, 2592.24716968, 2854.25562978,
       7414.50370694, 3287.37488844, 3381.83405817, 2592.24716968,
       2766.91947641, 2246.46406439])

In [122]:
# coefficient and intercept
print('Coefficients:', model.coef_)
print('Intercept:', model.intercept_)

Coefficients: [ 1757.88787246 -1412.10476717    87.33615337]
Intercept: 2246.4640643859757

In [123]:
# rmse, mae and r2
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print('Root Mean Squared Error:', rmse, '\n',
      'Mean Absolute Error', mae, '\n',
      'R2:', r2)

Root Mean Squared Error: 1251.3599294896494
 Mean Absolute Error 827.9569871506225
 R2: 0.4961740804900362

## Try to get a better MAE

In [0]:
features = ['bedrooms', 'bathrooms', 'bed_bath_ratio', 'total_perks', 'interest_level']
target = 'price'
X_train = train[features]
y_train = train[target]
X_test = test[features]
y_test = test[target]

In [0]:
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [126]:
mean_absolute_error(y_test, y_pred), r2_score(y_test, y_pred)

(757.7955341676985, 0.5791025782873264)