<a href="https://colab.research.google.com/github/LambdaTheda/DS-Unit-2-Linear-Models/blob/master/Unit2_Sprint_3_sun_feb23_SC_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science, Unit 2_

# Applied Modeling Sprint Challenge: Predict Chicago food inspections 🍕

For this Sprint Challenge, you'll use a dataset with information from inspections of restaurants and other food establishments in Chicago from January 2010 to March 2019. 

[See this PDF](https://data.cityofchicago.org/api/assets/BAD5301B-681A-4202-9D25-51B2CAE672FF) for descriptions of the data elements included in this dataset.

According to [Chicago Department of Public Health — Food Protection Services](https://www.chicago.gov/city/en/depts/cdph/provdrs/healthy_restaurants/svcs/food-protection-services.html), "Chicago is home to 16,000 food establishments like restaurants, grocery stores, bakeries, wholesalers, lunchrooms, mobile food vendors and more. Our business is food safety and sanitation with one goal, to prevent the spread of food-borne disease. We do this by inspecting food businesses, responding to complaints and food recalls."

#### Your challenge: Predict whether inspections failed

The target is the `Fail` column.

- When the food establishment failed the inspection, the target is `1`.
- When the establishment passed, the target is `0`.

#### Run this cell to install packages in Colab:

In [0]:
%%capture
import sys

if 'google.colab' in sys.modules:
    # Install packages in Colab
    !pip install category_encoders==2.*
    !pip install eli5
    !pip install pandas-profiling==2.*
    !pip install pdpbox
    !pip install shap

#### Run this cell to load the data:

In [0]:
import pandas as pd

train_url = 'https://drive.google.com/uc?export=download&id=13_tP9JpLcZHSPVpWcua4t2rY44K_s4H5'
test_url  = 'https://drive.google.com/uc?export=download&id=1GkDHjsiGrzOXoF_xcYjdzBTSjOIi3g5a'

train = pd.read_csv(train_url)
test  = pd.read_csv(test_url)

assert train.shape == (51916, 17)
assert test.shape  == (17306, 17)

### Part 1: Preprocessing

You may choose which features you want to use, and whether/how you will preprocess them. If you use categorical features, you may use any tools and techniques for encoding.

_To earn a score of 3 for this part, find and explain leakage. The dataset has a feature that will give you an ROC AUC score > 0.90 if you process and use the feature. Find the leakage and explain why the feature shouldn't be used in a real-world model to predict the results of future inspections._

### Part 2: Modeling

**Fit a model** with the train set. (You may use scikit-learn, xgboost, or any other library.) Use cross-validation or do a three-way split (train/validate/test) and **estimate your ROC AUC** validation score.

Use your model to **predict probabilities** for the test set. **Get an ROC AUC test score >= 0.60.**

_To earn a score of 3 for this part, get an ROC AUC test score >= 0.70 (without using the feature with leakage)._


### Part 3: Visualization

Make visualizations for model interpretation. (You may use any libraries.) Choose two of these types:

- Confusion Matrix
- Permutation Importances
- Partial Dependence Plot, 1 feature isolation
- Partial Dependence Plot, 2 features interaction
- Shapley Values

_To earn a score of 3 for this part, make four of these visualization types._

## Part 1: Preprocessing

> You may choose which features you want to use, and whether/how you will preprocess them. If you use categorical features, you may use any tools and techniques for encoding.

In [4]:
train.describe()

       Inspection ID     License #  ...     Longitude          Fail
count   5.191600e+04  5.191100e+04  ...  51718.000000  51916.000000
mean    1.330265e+06  1.549491e+06  ...    -87.676663      0.258610
std     6.202664e+05  9.018283e+05  ...      0.059509      0.437875
min     4.425000e+04  0.000000e+00  ...    -87.914428      0.000000
25%     6.796205e+05  1.140745e+06  ...    -87.707857      0.000000
50%     1.424226e+06  1.958619e+06  ...    -87.666524      0.000000
75%     1.946952e+06  2.215507e+06  ...    -87.634461      1.000000
max     2.279709e+06  8.700606e+06  ...    -87.525094      1.000000

[8 rows x 6 columns]

In [5]:
test.describe()

       Inspection ID     License #  ...     Longitude          Fail
count   1.730600e+04  1.730400e+04  ...  17245.000000  17306.000000
mean    1.323403e+06  1.562543e+06  ...    -87.676646      0.258581
std     6.240521e+05  8.947393e+05  ...      0.059617      0.437867
min     4.426100e+04  0.000000e+00  ...    -87.914428      0.000000
25%     6.709562e+05  1.145506e+06  ...    -87.708016      0.000000
50%     1.418794e+06  1.964748e+06  ...    -87.666898      0.000000
75%     1.946488e+06  2.208688e+06  ...    -87.634501      1.000000
max     2.279564e+06  3.759896e+06  ...    -87.525872      1.000000

[8 rows x 6 columns]

In [7]:
train.head()

   Inspection ID  ... Fail
0        2088270  ...    1
1         555268  ...    0
2        1751394  ...    0
3        1763905  ...    0
4         453326  ...    0

[5 rows x 17 columns]

In [8]:
test.head()

   Inspection ID  ... Fail
0         114835  ...    0
1        1575555  ...    0
2         671061  ...    0
3        1965844  ...    1
4        1751669  ...    1

[5 rows x 17 columns]

In [9]:
train.isnull().sum()

Inspection ID         0
DBA Name              0
AKA Name            623
License #             5
Facility Type       224
Risk                 12
Address               0
City                 53
State                10
Zip                  26
Inspection Date       0
Inspection Type       1
Violations         9655
Latitude            198
Longitude           198
Location            198
Fail                  0
dtype: int64

In [10]:
test.isnull().sum()

Inspection ID         0
DBA Name              0
AKA Name            222
License #             2
Facility Type        87
Risk                  7
Address               0
City                 18
State                 2
Zip                   8
Inspection Date       0
Inspection Type       0
Violations         3280
Latitude             61
Longitude            61
Location             61
Fail                  0
dtype: int64

## Part 2: Modeling

> **Fit a model** with the train set. (You may use scikit-learn, xgboost, or any other library.) Use cross-validation or do a three-way split (train/validate/test) and **estimate your ROC AUC** validation score.
>
> Use your model to **predict probabilities** for the test set. **Get an ROC AUC test score >= 0.60.**

## Part 3: Visualization

> Make visualizations for model interpretation. (You may use any libraries.) Choose two of these types:
>
> - Permutation Importances
> - Partial Dependence Plot, 1 feature isolation
> - Partial Dependence Plot, 2 features interaction
> - Shapley Values