<a href="https://colab.research.google.com/github/noah40povis/DS-Unit-2-Linear-Models/blob/master/module2-regression-2/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv('https://raw.githubusercontent.com/noah40povis/DS-Unit-2-Linear-Models/master/data/apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [2]:
#Convert df.created from string to datetime object

df['created'] = pd.to_datetime(df['created'])
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [0]:
df['combine_amenities'] =  df['high_speed_internet']+df['balcony'] + df['laundry_in_unit']+df['dishwasher']+df['fitness_center']

In [0]:
df['combine_rooms'] = df['bathrooms']+df['bedrooms']

In [0]:
df['amenities_to_rooms'].fillna(df['amenities_to_rooms'].mean(), inplace=True)

In [8]:
df['amenities_to_rooms'].isnull().sum()

0

In [9]:
df['amenities_to_rooms'].round(decimals=3)

0        0.000
1        0.333
2        0.500
3        0.000
4        0.000
         ...
49347    0.667
49348    0.500
49349    0.000
49350    0.000
49351    0.000
Name: amenities_to_rooms, Length: 48817, dtype: float64

In [0]:
# To do train/test split

# Train on April and May 2016.
# Test on June 2016.

train = df[df['created'].dt.month<6]
test = df[df['created'].dt.month>=6]

In [0]:
pd.set_option('mode.chained_assignment', None)

In [0]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [18]:
features = ['combine_amenities','combine_rooms']
print(f'Linear Regression, dependent on: {features}')

Linear Regression, dependent on: ['combine_amenities', 'combine_rooms']

In [0]:
X_train = train[features]
X_test = test[features]

In [0]:
# Isolate our target (price) features

target = 'price'
y_train = train[target]
y_test = test[target]

In [0]:
# Instantiate this class
model = LinearRegression()

In [22]:
# To Fit the model

model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
y_pred = model.predict(X_train)

In [25]:
# Find the equation for the plane 

beta0 = model.intercept_
beta1, beta2 = model.coef_
print(f'y = {beta0} + {beta1}x1 + {beta2}x2')

y = 1205.37517796651 + 288.7074222774297x1 + 760.6856627928818x2

In [26]:
# Make the betas/model correlations easier to understand

print('Intercept', model.intercept_)
coefficients = pd.Series(model.coef_, features)
print(coefficients.to_string())

Intercept 1205.37517796651
combine_amenities    288.707422
combine_rooms        760.685663

In [27]:
# Use methods to find intercept

model.intercept_

1205.37517796651

In [28]:
# Use methods to find coefficient

model.coef_

array([288.70742228, 760.68566279])

In [0]:
# Import libraries

import numpy as np
from sklearn.metrics import  mean_squared_error, r2_score

In [31]:
mae = mean_absolute_error(y_train,y_pred)

mae

862.2532105774793

In [32]:
# Calculate the MAE for the testing data

y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test,y_pred)

mae

873.8342377924545

In [33]:
# Calculate the RMSE for the training data

import math

y_pred = model.predict(X_train)
mse = mean_squared_error(y_train,y_pred)
rmse = math.sqrt(mse)

rmse

1298.3640688117564

In [34]:
# Calculate the R-squared for the training data

y_pred = model.predict(X_train)
r2_score(y_train,y_pred)

0.4570905199933145

In [35]:
# Calculate the R-squared for the test data

y_pred = model.predict(X_test)
r2_score(y_test,y_pred)

0.4573692218040234