<a href="https://colab.research.google.com/github/furkanonat/DS-Unit-2-Linear-Models/blob/master/module2-regression-2/Furkan_Onat_LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [3]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [4]:
# Creating a new feature by adding the # of batrooms and bedrooms
df['tot_rooms']= df['bathrooms']+df['bedrooms']

df.head()

   bathrooms  bedrooms  ... common_outdoor_space tot_rooms
0        1.5         3  ...                    0       4.5
1        1.0         2  ...                    0       3.0
2        1.0         1  ...                    0       2.0
3        1.0         1  ...                    0       2.0
4        1.0         4  ...                    0       5.0

[5 rows x 35 columns]

In [5]:
# I want to assign numeric values to the 'interest level' to use it in the model.

df['interest_level'].value_counts()

low       33946
medium    11181
high       3690
Name: interest_level, dtype: int64

In [0]:
convert_to_nums = {"interest_level":     {"low": 1, "medium": 2, "high": 3}}

In [7]:
df.replace(convert_to_nums, inplace=True)
df.head()

   bathrooms  bedrooms  ... common_outdoor_space tot_rooms
0        1.5         3  ...                    0       4.5
1        1.0         2  ...                    0       3.0
2        1.0         1  ...                    0       2.0
3        1.0         1  ...                    0       2.0
4        1.0         4  ...                    0       5.0

[5 rows x 35 columns]

In [8]:
df['interest_level'].value_counts()

1    33946
2    11181
3     3690
Name: interest_level, dtype: int64

In [9]:
# In order to use at splitting train and test data, I want to strip the month and year from the column of 'created'.
df.shape 
df['created'].dtypes

dtype('O')

In [0]:
# converting the 'created' column to datetime format
df['created'] = pd.to_datetime(df['created'], infer_datetime_format=True)

In [11]:
df.dtypes

bathrooms                      float64
bedrooms                         int64
created                 datetime64[ns]
description                     object
display_address                 object
latitude                       float64
longitude                      float64
price                            int64
street_address                  object
interest_level                   int64
elevator                         int64
cats_allowed                     int64
hardwood_floors                  int64
dogs_allowed                     int64
doorman                          int64
dishwasher                       int64
no_fee                           int64
laundry_in_building              int64
fitness_center                   int64
pre-war                          int64
laundry_in_unit                  int64
roof_deck                        int64
outdoor_space                    int64
dining_room                      int64
high_speed_internet              int64
balcony                          int64
swimming_pool                    int64
new_construction                 int64
terrace                          int64
exclusive                        int64
loft                             int64
garden_patio                     int64
wheelchair_access                int64
common_outdoor_space             int64
tot_rooms                      float64
dtype: object

In [12]:
# Stripping the year and month
df['year'] = df['created'].dt.year
df['month'] = df['created'].dt.month

df.head()

   bathrooms  bedrooms             created  ... tot_rooms  year  month
0        1.5         3 2016-06-24 07:54:24  ...       4.5  2016      6
1        1.0         2 2016-06-12 12:19:27  ...       3.0  2016      6
2        1.0         1 2016-04-17 03:26:41  ...       2.0  2016      4
3        1.0         1 2016-04-18 02:22:02  ...       2.0  2016      4
4        1.0         4 2016-04-28 01:32:41  ...       5.0  2016      4

[5 rows x 37 columns]

In [0]:
# Splitting the data into train and test data
train = df[(df['year'] == 2016) & (df['month'] >= 4) & (df['month'] <= 5)]

test = df[(df['year'] == 2016) & (df['month'] == 6)]

In [14]:
train.shape, test.shape

((31844, 37), (16973, 37))

In [0]:
from sklearn.linear_model import LinearRegression

In [0]:
model = LinearRegression()

In [17]:
# Arrange X features matrices
features = ['tot_rooms', 'interest_level']
print(f'Linear Regression, dependent on: {features}')

X_train = train[features]
X_test = test[features]

Linear Regression, dependent on: ['tot_rooms', 'interest_level']

In [0]:
# Arrange y target vectors
target = 'price'
y_train = train[target]
y_test = test[target]

In [19]:
# Fit the model
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
# Apply the model to new data
y_pred = model.predict(X_train)

In [21]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
mae = mean_absolute_error(y_train, y_pred)
print(f'Train Error: {mae:.2f} dollars')

Train Error: 856.69 dollars

In [22]:
# Regression Metrics for train data
mse = mean_squared_error(y_train, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_train, y_pred)
r2 = r2_score(y_train, y_pred)
print('Mean Squared Error:', mse)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)

Mean Squared Error: 1668391.3196663293
Root Mean Squared Error: 1291.6622312610714
Mean Absolute Error: 856.6920126855599
R^2: 0.46268078658576395

In [23]:
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
print(f'Test error: {mae:.2f} dollars')

Test error: 865.82 dollars

In [24]:
model.intercept_, model.coef_

(2160.2119476723865, array([ 810.8093348 , -578.25117026]))

In [25]:
# Regression Metrics for test data
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print('Mean Squared Error:', mse)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)

Mean Squared Error: 1650671.1774934325
Root Mean Squared Error: 1284.784486788906
Mean Absolute Error: 865.8152473437879
R^2: 0.4688996518244749

In [26]:
df.price.mean()

3579.5852469426636