<a href="https://colab.research.google.com/github/trevorwjames/DS-Unit-2-Linear-Models/blob/master/module2-regression-2/Trevor_James_LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [111]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [112]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [113]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [114]:
# creating features on the whole data set before breaking it apart into the train/test split

df['total_rooms'] = df['bathrooms'] + df['bedrooms']

df.head()

   bathrooms  bedrooms  ... common_outdoor_space total_rooms
0        1.5         3  ...                    0         4.5
1        1.0         2  ...                    0         3.0
2        1.0         1  ...                    0         2.0
3        1.0         1  ...                    0         2.0
4        1.0         4  ...                    0         5.0

[5 rows x 35 columns]

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48817 entries, 0 to 49351
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   bathrooms             48817 non-null  float64
 1   bedrooms              48817 non-null  int64
 2   created               48817 non-null  object
 3   description           47392 non-null  object
 4   display_address       48684 non-null  object
 5   latitude              48817 non-null  float64
 6   longitude             48817 non-null  float64
 7   price                 48817 non-null  int64
 8   street_address        48807 non-null  object
 9   interest_level        48817 non-null  object
 10  elevator              48817 non-null  int64
 11  cats_allowed          48817 non-null  int64
 12  hardwood_floors       48817 non-null  int64
 13  dogs_allowed          48817 non-null  int64
 14  doorman               48817 non-null  int64
 15  dishwasher            48817 non-null  int64
 16  no_fee                48817 non-null  int64
 17  laundry_in_building   48817 non-null  int64
 18  fitness_center        48817 non-null  int64
 19  pre-war               48817 non-null  int64
 20  laundry_in_unit       48817 non-null  int64
 21  roof_deck             48817 non-null  int64
 22  outdoor_space         48817 non-null  int64
 23  dining_room           48817 non-null  int64
 24  high_speed_internet   48817 non-null  int64
 25  balcony               48817 non-null  int64
 26  swimming_pool         48817 non-null  int64
 27  new_construction      48817 non-null  int64
 28  terrace               48817 non-null  int64
 29  exclusive             48817 non-null  int64
 30  loft                  48817 non-null  int64
 31  garden_patio          48817 non-null  int64
 32  wheelchair_access     48817 non-null  int64
 33  common_outdoor_space  48817 non-null  int64
 34  total_rooms           48817 non-null  float64
dtypes: float64(4), int64(26), object(5)
memory usage: 13.4+ MB

In [116]:
df[:0]

Empty DataFrame
Columns: [bathrooms, bedrooms, created, description, display_address, latitude, longitude, price, street_address, interest_level, elevator, cats_allowed, hardwood_floors, dogs_allowed, doorman, dishwasher, no_fee, laundry_in_building, fitness_center, pre-war, laundry_in_unit, roof_deck, outdoor_space, dining_room, high_speed_internet, balcony, swimming_pool, new_construction, terrace, exclusive, loft, garden_patio, wheelchair_access, common_outdoor_space, total_rooms]
Index: []

In [117]:
# Engineered Feature #2, I know there is a better way to do this with a loop and a list of the columns

df['total_amenities'] = df['elevator'] + df['cats_allowed'] + df['hardwood_floors']
+ df['dogs_allowed'] + df['doorman'] + df['dishwasher'] + df['no_fee'] + df['laundry_in_building']
+ df['fitness_center'] + df['pre-war'] + df['laundry_in_unit'] + df['roof_deck'] + df['outdoor_space']+ df['dining_room']+ df['high_speed_internet']+ df['balcony']+ df['swimming_pool']
+ df['new_construction']+ df['terrace']+ df['exclusive']+ df['loft']+ df['garden_patio']+ df['wheelchair_access']+ df['common_outdoor_space']

0        0
1        0
2        0
3        0
4        0
        ..
49347    0
49348    2
49349    0
49350    0
49351    0
Length: 48817, dtype: int64

In [118]:
df['total_amenities'].value_counts()

2    17634
1    17468
0     7188
3     6527
Name: total_amenities, dtype: int64

In [119]:
df.head()

   bathrooms  bedrooms  ... total_rooms total_amenities
0        1.5         3  ...         4.5               0
1        1.0         2  ...         3.0               2
2        1.0         1  ...         2.0               1
3        1.0         1  ...         2.0               1
4        1.0         4  ...         5.0               0

[5 rows x 36 columns]

In [120]:
df['created'] > '2016-06-01'

0         True
1         True
2        False
3        False
4        False
         ...
49347     True
49348    False
49349    False
49350    False
49351    False
Name: created, Length: 48817, dtype: bool

In [121]:
# Separating the target from the features
y = df['price']
X = df.drop('price', axis=1)

In [122]:
# creating the train test split
X_train = X[X['created'] <= '2016-06-01']
print(X_train.head())
X_train.shape

   bathrooms  bedrooms  ... total_rooms total_amenities
2        1.0         1  ...         2.0               1
3        1.0         1  ...         2.0               1
4        1.0         4  ...         5.0               0
5        2.0         4  ...         6.0               0
6        1.0         2  ...         3.0               1

[5 rows x 35 columns]

(31844, 35)

In [123]:
y_train = y[y.index.isin(X_train.index)]
y_train.shape

(31844,)

In [124]:
# now creating the test portion of the split
X_test = X[X['created'] >= '2016-06-01']
y_test = y[y.index.isin(X_test.index)]

In [125]:
print(X_test.shape)
y_test.shape

(16973, 35)

(16973,)

Creating the Linear Regression model with the features I have engineered

In [126]:
# importing scikit learn
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [127]:
# creating the class
lr = LinearRegression()

In [128]:
# features list
features = ['total_amenities', 'total_rooms']

In [129]:
# Fit the model
model = lr.fit(X_train[features], y_train)
model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [130]:
# looming at coefficients and intercept
print(model.coef_)
model.intercept_

[301.86343636 796.07814633]

951.3350147788992

In [131]:
# Look at different errors
mae_train = mean_absolute_error(y_train, model.predict(X_train[features]))
mae_test = mean_absolute_error(y_test, model.predict(X_test[features]))

print(mae_train)
print(mae_test)

867.6356789581545
885.0728546358746

In [132]:
# finding the mean squared error
mse_train = mean_squared_error(y_train, model.predict(X_train[features]))
mse_test = mean_squared_error(y_test, model.predict(X_test[features]))

print(mse_train)
print(mse_test)

1723784.6968801708
1726874.6774149435

In [133]:
model.score(X_train[features], y_train)

0.44484089163902446

In [134]:
model.score(X_test[features], y_test)

0.4443813189836696

Since I made a column with total rooms, how will single linear regression work vs multiple regression using the same value but different.

In [135]:
# instantiate the class
lr = LinearRegression()
lr

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [136]:
X_train1 = X_train[['total_rooms']]
X_test1 = X_test[['total_rooms']]

In [137]:
model1 = lr.fit(X_train1, y_train)

In [138]:
# MAE for using single regression on total rooms
mean_absolute_error(y_train, model1.predict(X_train1))

893.9571083669464

In [139]:
mean_absolute_error(y_test, model1.predict(X_test1))

910.5114580130397

Now multiple regression on 2 different features - bathrooms and bedrooms

In [140]:
lr = LinearRegression()

In [141]:
# creating a variable to place in the model to move easier
rooms = ['bathrooms', 'bedrooms']

In [142]:
model2 = lr.fit(X_train[rooms], y_train)
model2

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [143]:
# Training data MAE
mean_absolute_error(y_train, model2.predict(X_train[rooms]))

818.5310213271714

In [144]:
# Test data MAE
mean_absolute_error(y_test, model2.predict(X_test[rooms]))

825.8987822403527

In [145]:
# look at the formula for the bed and bath linear regression
print('Coefficients for model:', model2.coef_)

Coefficients for model: [2072.61011639  389.3248959 ]

In [146]:
print('Intercept for model:', model2.intercept_)

Intercept for model: 485.71869002322865

To summarize the difference in the two models: 
  When creating a linear regression with the total rooms it provided a larger error than when doing multiple linear regression with the rooms seperated. 

  It is safe to assume that the model with the total rooms was underfit? for the data and the better fit was to separate the two features.