<a href="https://colab.research.google.com/github/mtoce/DS-Unit-2-Linear-Models/blob/master/module3-ridge-regression/213_assig_LS_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [ ] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

# Pre-loaded Code and Data

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [0]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [0]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

# Data Formatting and Manipulation

In [73]:
# make a copy of df
df_copy = df.copy()
df_copy.head()

  BOROUGH             NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
0       1                    OTHER  ...          0  01/01/2019
1       1                    OTHER  ...          0  01/01/2019
2       1                    OTHER  ...          0  01/01/2019
3       1                    OTHER  ...          0  01/01/2019
4       1  UPPER EAST SIDE (59-79)  ...          0  01/01/2019

[5 rows x 21 columns]

In [74]:
# create our subset df we're using today
df = df[df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS']
df['BUILDING_CLASS_CATEGORY'].head()

df = df[df['SALE_PRICE'] > 100000]
df = df[df['SALE_PRICE'] < 2000000]
print(df.shape)
df['SALE_PRICE'].max()

(3151, 21)

1955000

In [75]:
df.head()

    BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
44        3        OTHER  ...     550000  01/01/2019
61        4        OTHER  ...     200000  01/01/2019
78        2        OTHER  ...     810000  01/02/2019
108       3        OTHER  ...     125000  01/02/2019
111       3        OTHER  ...     620000  01/02/2019

[5 rows x 21 columns]

In [0]:
# remove easement and apartment column since they're filled with nans
df = df.drop(['EASE-MENT', 'APARTMENT_NUMBER'], axis=1)

In [0]:
# create cutoff to separate train and test data
df['SALE_DATE'] = pd.to_datetime(df['SALE_DATE'], infer_datetime_format=True)
cutoff = pd.to_datetime('2019-04-01')
train = df[df['SALE_DATE'] < cutoff]
test  = df[df['SALE_DATE'] >= cutoff]

In [89]:
df['SALE_DATE'].head()

44    2019-01-01
61    2019-01-01
78    2019-01-02
108   2019-01-02
111   2019-01-02
Name: SALE_DATE, dtype: datetime64[ns]

In [90]:
train.select_dtypes(include='number').describe().T

                            count           mean  ...       75%        max
BLOCK                      2507.0    6758.303949  ...    9888.5    16350.0
LOT                        2507.0      75.778221  ...      70.0     2720.0
ZIP_CODE                   2507.0   10993.398484  ...   11413.0    11697.0
RESIDENTIAL_UNITS          2507.0       0.987635  ...       1.0        1.0
COMMERCIAL_UNITS           2507.0       0.016354  ...       0.0        2.0
TOTAL_UNITS                2507.0       1.003989  ...       1.0        3.0
GROSS_SQUARE_FEET          2507.0    1473.744715  ...    1683.0     7875.0
YEAR_BUILT                 2507.0    1944.766653  ...    1960.0     2018.0
TAX_CLASS_AT_TIME_OF_SALE  2507.0       1.000000  ...       1.0        1.0
SALE_PRICE                 2507.0  621573.742321  ...  750000.0  1955000.0

[10 rows x 8 columns]

In [91]:
train.select_dtypes(exclude='number').describe().T

                               count unique  ...      first       last
BOROUGH                         2507      5  ...        NaT        NaT
NEIGHBORHOOD                    2507      7  ...        NaT        NaT
BUILDING_CLASS_CATEGORY         2507      1  ...        NaT        NaT
TAX_CLASS_AT_PRESENT            2507      2  ...        NaT        NaT
BUILDING_CLASS_AT_PRESENT       2507     13  ...        NaT        NaT
ADDRESS                         2507   2497  ...        NaT        NaT
LAND_SQUARE_FEET                2507    887  ...        NaT        NaT
BUILDING_CLASS_AT_TIME_OF_SALE  2507     11  ...        NaT        NaT
SALE_DATE                       2507     68  ... 2019-01-01 2019-03-30

[9 rows x 6 columns]

# Do One Hot Encoding

In [92]:
# declare high cardinal variables to exclude
target = 'SALE_PRICE'
high_cardinality = ['ADDRESS', 'LAND_SQUARE_FEET', 'SALE_DATE']
features = train.columns.drop([target] + high_cardinality)
features

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY',
       'TAX_CLASS_AT_PRESENT', 'BLOCK', 'LOT', 'BUILDING_CLASS_AT_PRESENT',
       'ZIP_CODE', 'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS',
       'GROSS_SQUARE_FEET', 'YEAR_BUILT', 'TAX_CLASS_AT_TIME_OF_SALE',
       'BUILDING_CLASS_AT_TIME_OF_SALE'],
      dtype='object')

In [0]:
# define train and test DFs
X_train = train[features]
y_train = train[target]

X_test = test[features]
y_test = test[target]

In [94]:
X_train.shape

(2507, 15)

In [0]:
# do onehotencoding on categorical features

import category_encoders as ce
encoder = ce.OneHotEncoder(use_cat_names=True)
X_train = encoder.fit_transform(X_train)
X_test = encoder.transform(X_test)

In [96]:
X_train

       BOROUGH_3  ...  BUILDING_CLASS_AT_TIME_OF_SALE_S0
44             1  ...                                  0
61             0  ...                                  0
78             0  ...                                  0
108            1  ...                                  0
111            1  ...                                  0
...          ...  ...                                ...
18129          0  ...                                  0
18130          0  ...                                  0
18132          0  ...                                  0
18134          0  ...                                  0
18147          0  ...                                  0

[2507 rows x 48 columns]

# Select Best Features with SelectKBest

In [97]:
from sklearn.feature_selection import SelectKBest, f_regression

selector = SelectKBest(score_func=f_regression, k=15)

X_train_selected = selector.fit_transform(X_train, y_train)
X_test_selected = selector.transform(X_test)

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

In [99]:
X_train_selected.shape, X_test_selected.shape

((2507, 15), (644, 15))

In [0]:
# Check which features were selected
included_mask = selector.get_support()
all_names = X_train.columns
included_names = all_names[included_mask]

# the tilde operator returns included_mask's compliment
excluded_names = all_names[~included_mask]

print('Included Features: ')
for name in included_names:
  print(name)

print('\n', 'Excluded Features: ')
for name in excluded_names:
  print(name)

# Ridge Regression Model

In [0]:
from sklearn.linear_model import Ridge

In [0]:
a_list = [0.001, 0.01, 0.1, 1.0, 10, 100.0, 1000.0]

In [0]:
from sklearn.linear_model import Ridge
from IPython.display import display, HTML
from sklearn.metrics import mean_absolute_error
import matplotlib.pyplot as plt

In [0]:
def ridge_regression(alpha_list, X_train, X_test, y_train, y_test):
  from sklearn.linear_model import Ridge
  from IPython.display import display, HTML
  from sklearn.metrics import mean_absolute_error
  import matplotlib.pyplot as plt
  for alpha in alpha_list:
        
        # Fit Ridge Regression model
        display(HTML(f'Ridge Regression, with alpha={alpha}'))
        model = Ridge(alpha=alpha, normalize=True)
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)

        # Get Test MAE
        mae = mean_absolute_error(y_test, y_pred)
        display(HTML(f'Test Mean Absolute Error: ${mae:,.0f}'))
        
        # Plot coefficients
        # coefficients = pd.Series(model.coef_, X_train.columns)
        # plt.figure(figsize=(16,8))
        # coefficients.sort_values().plot.barh(color='grey')
        # plt.xlim(-400,700)
        # plt.show()
        # plt.pause(.000001)
  return

In [130]:
ridge_regression(a_list, X_train, X_test, y_train, y_test)

In [0]:
# Looks like an alpha around 0.1 will minimize test error!