<a href="https://colab.research.google.com/github/kellischeuble/DS-Unit-2-Linear-Models/blob/master/module4-logistic-regression/Kelli_Scheuble_DS12_logistic_regression_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [x] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [x] Begin with baselines for classification.
- [x] Use scikit-learn for logistic regression.
- [x] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [x] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [0]:
df.columns

Index(['Location', 'Burrito', 'Date', 'Neighborhood', 'Address', 'URL', 'Yelp',
       'Google', 'Chips', 'Cost', 'Hunger', 'Mass (g)', 'Density (g/mL)',
       'Length', 'Circum', 'Volume', 'Tortilla', 'Temp', 'Meat', 'Fillings',
       'Meat:filling', 'Uniformity', 'Salsa', 'Synergy', 'Wrap', 'overall',
       'Rec', 'Reviewer', 'Notes', 'Unreliable', 'NonSD', 'Beef', 'Pico',
       'Guac', 'Cheese', 'Fries', 'Sour cream', 'Pork', 'Chicken', 'Shrimp',
       'Fish', 'Rice', 'Beans', 'Lettuce', 'Tomato', 'Bell peper', 'Carrots',
       'Cabbage', 'Sauce', 'Salsa.1', 'Cilantro', 'Onion', 'Taquito',
       'Pineapple', 'Ham', 'Chile relleno', 'Nopales', 'Lobster', 'Queso',
       'Egg', 'Mushroom', 'Bacon', 'Sushi', 'Avocado', 'Corn', 'Zucchini'],
      dtype='object')

In [0]:
df.head()

               Location      Burrito       Date  ... Avocado Corn Zucchini
0    Donato's taco shop  California   1/18/2016  ...     NaN  NaN      NaN
1  Oscar's Mexican food  California   1/24/2016  ...     NaN  NaN      NaN
2  Oscar's Mexican food     Carnitas  1/24/2016  ...     NaN  NaN      NaN
3  Oscar's Mexican food  Carne asada  1/24/2016  ...     NaN  NaN      NaN
4          Pollos Maria   California  1/27/2016  ...     NaN  NaN      NaN

[5 rows x 66 columns]

In [0]:
df['overall']

0      3.80
1      3.00
2      3.00
3      3.75
4      4.20
       ...
418    3.50
419    4.00
420    3.50
421    4.00
422    4.60
Name: overall, Length: 423, dtype: float64

In [0]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [0]:
df.head()

               Location      Burrito       Date  ... Corn Zucchini  Great
0    Donato's taco shop  California   1/18/2016  ...  NaN      NaN  False
1  Oscar's Mexican food  California   1/24/2016  ...  NaN      NaN  False
2  Oscar's Mexican food     Carnitas  1/24/2016  ...  NaN      NaN  False
3  Oscar's Mexican food  Carne asada  1/24/2016  ...  NaN      NaN  False
4          Pollos Maria   California  1/27/2016  ...  NaN      NaN   True

[5 rows x 67 columns]

In [0]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [0]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [0]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [0]:
df.head()

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California  1/24/2016   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California  1/27/2016   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [0]:
# Do train/validate/test split. Train on reviews from 2016 & earlier. 
# Validate on 2017. Test on 2018 & later.

# change date to datetime

df['Date'] = pd.to_datetime(df['Date'])

In [0]:
# verify
type(df['Date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [0]:
df.head()

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California 2016-01-18   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California 2016-01-24   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas 2016-01-24   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada 2016-01-24   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California 2016-01-27   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [0]:
# training data set
train = df[df['Date'].dt.year <= 2016]
validate = df[df['Date'].dt.year == 2017]
test = df[df['Date'].dt.year >= 2018]

In [0]:
# verify train is from 2016 or before

train['Date'].dt.year.value_counts()

2016    296
2015      1
2011      1
Name: Date, dtype: int64

In [0]:
# validate 2017
validate['Date'].dt.year.value_counts()

2017    85
Name: Date, dtype: int64

In [0]:
# test 2018 or later
test['Date'].dt.year.value_counts()

2018    27
2019    10
2026     1
Name: Date, dtype: int64

In [0]:
train.head()

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California 2016-01-18   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California 2016-01-24   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas 2016-01-24   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada 2016-01-24   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California 2016-01-27   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [0]:
train.isnull().sum()

Burrito             0
Date                0
Yelp              227
Google            227
Chips             276
Cost                6
Hunger              1
Mass (g)          298
Density (g/mL)    298
Length            123
Circum            124
Volume            124
Tortilla            0
Temp               15
Meat               10
Fillings            1
Meat:filling        6
Uniformity          2
Salsa              20
Synergy             2
Wrap                2
Unreliable        271
NonSD             293
Beef              130
Pico              155
Guac              159
Cheese            149
Fries             179
Sour cream        213
Pork              255
Chicken           278
Shrimp            278
Fish              293
Rice              265
Beans             266
Lettuce           287
Tomato            291
Bell peper        291
Carrots           297
Cabbage           291
Sauce             261
Salsa.1           292
Cilantro          283
Onion             281
Taquito           294
Pineapple         291
Ham               297
Chile relleno     294
Nopales           294
Lobster           297
Queso             298
Egg               294
Mushroom          295
Bacon             295
Sushi             296
Avocado           285
Corn              296
Zucchini          297
Great               0
dtype: int64

In [0]:
target = 'Great'
features = ['Burrito', 'Cost', 'Hunger', 'Temp', 'Meat', 'Fillings', 'Synergy', 'Wrap']
X_train = train[features]
y_train = train[target]

X_validate = validate[features]
y_validate = validate[target]

X_test = test[features]
y_test = test[target]

In [0]:
y_train.value_counts(normalize=True)

False    0.590604
True     0.409396
Name: Great, dtype: float64

In [0]:
# so, on average, a burrito is great about 40% of the time... so if we guess that
# a burrito is not great, we will be right about 60% of the time

In [0]:
# Use scikit-learn for logistic regression

In [0]:
X_train.head()

      Burrito  Cost  Hunger  Temp  Meat  Fillings  Synergy  Wrap
0  California  6.49     3.0   5.0   3.0       3.5      4.0   4.0
1  California  5.45     3.5   3.5   2.5       2.5      2.5   5.0
2    Carnitas  4.85     1.5   2.0   2.5       3.0      3.0   5.0
3       Asada  5.25     2.0   2.0   3.5       3.0      4.0   5.0
4  California  6.59     4.0   5.0   4.0       3.5      4.5   4.0

In [0]:
# want to fill in missing NaN values

X_train.describe()

             Cost      Hunger        Temp  ...    Fillings     Synergy        Wrap
count  292.000000  297.000000  283.000000  ...  297.000000  296.000000  296.000000
mean     6.896781    3.445286    3.706360  ...    3.519024    3.540203    3.955068
std      1.211412    0.852150    0.991897  ...    0.850348    0.922426    1.167341
min      2.990000    0.500000    1.000000  ...    1.000000    1.000000    0.000000
25%      6.250000    3.000000    3.000000  ...    3.000000    3.000000    3.500000
50%      6.850000    3.500000    4.000000  ...    3.500000    3.750000    4.000000
75%      7.500000    4.000000    4.500000  ...    4.000000    4.000000    5.000000
max     11.950000    5.000000    5.000000  ...    5.000000    5.000000    5.000000

[8 rows x 7 columns]

In [0]:
X_train.isnull().sum()

Burrito      0
Cost         6
Hunger       1
Temp        15
Meat        10
Fillings     1
Synergy      2
Wrap         2
dtype: int64

In [0]:
X_train.head()

      Burrito  Cost  Hunger  Temp  Meat  Fillings  Synergy  Wrap
0  California  6.49     3.0   5.0   3.0       3.5      4.0   4.0
1  California  5.45     3.5   3.5   2.5       2.5      2.5   5.0
2    Carnitas  4.85     1.5   2.0   2.5       3.0      3.0   5.0
3       Asada  5.25     2.0   2.0   3.5       3.0      4.0   5.0
4  California  6.59     4.0   5.0   4.0       3.5      4.5   4.0

In [0]:
X_train.dtypes

Burrito      object
Cost        float64
Hunger      float64
Temp        float64
Meat        float64
Fillings    float64
Synergy     float64
Wrap        float64
dtype: object

In [0]:
X_train.describe(exclude='number')

           Burrito
count          298
unique           5
top     California
freq           118

In [0]:
pd.isnull(X_train).sum() > 0

Burrito     False
Cost         True
Hunger       True
Temp         True
Meat         True
Fillings     True
Synergy      True
Wrap         True
dtype: bool

In [0]:
# one hot encoding
import category_encoders as ce

encoder = ce.OneHotEncoder(use_cat_names=True)
X_train_encoded = encoder.fit_transform(X_train)
X_val_encoded = encoder.transform(X_validate)
X_test_encoded = encoder.transform(X_test)

In [0]:
X_train_encoded

     Burrito_California  Burrito_Carnitas  ...  Synergy  Wrap
0                     1                 0  ...      4.0   4.0
1                     1                 0  ...      2.5   5.0
2                     0                 1  ...      3.0   5.0
3                     0                 0  ...      4.0   5.0
4                     1                 0  ...      4.5   4.0
..                  ...               ...  ...      ...   ...
296                   1                 0  ...      2.0   4.5
297                   0                 0  ...      2.5   3.0
298                   1                 0  ...      3.3   4.5
299                   0                 0  ...      2.0   4.0
300                   0                 0  ...      3.8   2.0

[298 rows x 12 columns]

In [0]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train_encoded)
X_val_imputed = imputer.transform(X_val_encoded)
X_test_imputed = imputer.transform(X_test_encoded)

In [0]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_val_scaled = scaler.transform(X_val_imputed)
X_test_scaled = scaler.transform(X_test_imputed)

In [0]:
# logistic regression

from sklearn.linear_model import LogisticRegressionCV

model = LogisticRegressionCV()
model.fit(X_train_scaled, y_train)

LogisticRegressionCV(Cs=10, class_weight=None, cv=None, dual=False,
                     fit_intercept=True, intercept_scaling=1.0, l1_ratios=None,
                     max_iter=100, multi_class='auto', n_jobs=None,
                     penalty='l2', random_state=None, refit=True, scoring=None,
                     solver='lbfgs', tol=0.0001, verbose=0)

In [0]:
from sklearn.metrics import accuracy_score


y_pred = model.predict(X_val_scaled)
print(f'Validation accuracy score:{accuracy_score(y_validate, y_pred)}')


test_pred = model.predict(X_test_scaled)
print(f'Test accuracy score: {accuracy_score(test_pred, y_test)}')

Validation accuracy score:0.8941176470588236
Test accuracy score: 0.6578947368421053

In [0]:
# this is telling me that I am probably overfitting...