<a href="https://colab.research.google.com/github/marilynle/DS-Unit-2-Linear-Models/blob/master/module4-logistic-regression/Marilyn_LE_Assignment_Regression_Classification_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.
- [ ] Watch Aaron's [video #1](https://www.youtube.com/watch?v=pREaWFli-5I) (12 minutes) & [video #2](https://www.youtube.com/watch?v=bDQgVt4hFgY) (9 minutes) to learn about the mathematics of Logistic Regression.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH ='../data/'

In [0]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/burritos/burritos.csv')

In [0]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [0]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [0]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [0]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

## Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.

In [7]:
df.head()

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California  1/24/2016   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California  1/27/2016   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [8]:
# Do train/validate/test split. 
df['Date'] =  pd.to_datetime(df['Date'],infer_datetime_format=True, format='%m%d%Y')
train = df[df.Date.dt.year <= 2016]
test  = df[df.Date.dt.year >= 2018]
val = df[df.Date.dt.year == 2017]
train.shape, train.Date.describe() # Yes, train is OK

((298, 59), count                     298
 unique                    110
 top       2016-08-30 00:00:00
 freq                       29
 first     2011-05-16 00:00:00
 last      2016-12-15 00:00:00
 Name: Date, dtype: object)

In [9]:
test.shape, test.Date.describe() # Yes, test is OK

((38, 59), count                      38
 unique                     17
 top       2019-08-27 00:00:00
 freq                        9
 first     2018-01-02 00:00:00
 last      2026-04-25 00:00:00
 Name: Date, dtype: object)

In [10]:
val.shape, val.Date.describe() # Yes, val is OK

((85, 59), count                      85
 unique                     42
 top       2017-04-07 00:00:00
 freq                        6
 first     2017-01-04 00:00:00
 last      2017-12-29 00:00:00
 Name: Date, dtype: object)

## Begin with baselines for classification.

In [11]:
# Finding the majority class for the target 'Great'
target = 'Great'
y_train = train[target]
y_train.value_counts(normalize=True)

False    0.590604
True     0.409396
Name: Great, dtype: float64

In [0]:
# Guessing the majority class for every prediction
majority_class = y_train.mode()[0]
y_pred = [majority_class] * len(y_train)

In [13]:
# Training accuracy of majority class baseline = 
# frequency of majority class (aka base rate)
from sklearn.metrics import accuracy_score
accuracy_score(y_train, y_pred)

0.5906040268456376

## Use scikit-learn for logistic regression.
## Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
## Get your model's test accuracy. (One time, at the end.)

In [0]:
y_val = val[target]

# Arrange X feature matrices (already did y target vectors)
features = ['Tortilla','Temp','Meat','Fillings']
X_train = train[features]
X_val = val[features]

# Impute missing values
from sklearn.impute import SimpleImputer
imputer = SimpleImputer()
X_train_imputed = imputer.fit_transform(X_train)
X_val_imputed = imputer.transform(X_val)

# Scaling the features
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_val_scaled = scaler.transform(X_val_imputed)

In [15]:
# model's validation accuracy
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression(solver='lbfgs')
log_reg.fit(X_train_scaled, y_train)
print('Validation Accuracy', log_reg.score(X_val_scaled, y_val))

Validation Accuracy 0.8588235294117647

In [16]:
# model's test accuracy
X_test = test[features]
y_test = test[target]

X_test_imputed = imputer.transform(X_test)
X_test_scaled = scaler.transform(X_test_imputed)
print('Test Accuracy', log_reg.score(X_test_scaled, y_test))

Test Accuracy 0.7105263157894737

# **Stretch Goals**


## Do one-hot encoding.

In [0]:

features = train.columns.drop(['Great', 'Date'])

# Assign to X, y
X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]

In [18]:
X_train.shape, y_train.shape, X_val.shape, y_val.shape

((298, 57), (298,), (85, 57), (85,))

In [0]:
import category_encoders as ce

encoder = ce.OneHotEncoder(use_cat_names=True)
X_train_encoded = encoder.fit_transform(X_train)
X_val_encoded = encoder.transform(X_val)

imputer = SimpleImputer()
X_train_imputed = imputer.fit_transform(X_train_encoded)
X_val_imputed = imputer.transform(X_val_encoded)

## Do feature scaling.

In [0]:
# Scaling the features
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_val_scaled = scaler.transform(X_val_imputed)

In [21]:
# model's validation accuracy
log_reg.fit(X_train_scaled, y_train)
print('Validation Accuracy', log_reg.score(X_val_scaled, y_val))

Validation Accuracy 0.7647058823529411