<a href="https://colab.research.google.com/github/SaraWestWA/DS-Unit-2-Linear-Models/blob/master/module4-logistic-regression/SW_DS_214_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [2]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [3]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [4]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [5]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [6]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [7]:
# look at at data
print(df.shape)
df.head(15)

(421, 59)

        Burrito       Date  Yelp  Google  ... Avocado  Corn  Zucchini  Great
0    California  1/18/2016   3.5     4.2  ...     NaN   NaN       NaN  False
1    California  1/24/2016   3.5     3.3  ...     NaN   NaN       NaN  False
2      Carnitas  1/24/2016   NaN     NaN  ...     NaN   NaN       NaN  False
3         Asada  1/24/2016   NaN     NaN  ...     NaN   NaN       NaN  False
4    California  1/27/2016   4.0     3.8  ...     NaN   NaN       NaN   True
5         Other  1/28/2016   NaN     NaN  ...     NaN   NaN       NaN  False
6    California  1/30/2016   3.0     2.9  ...     NaN   NaN       NaN  False
7      Carnitas  1/30/2016   NaN     NaN  ...     NaN   NaN       NaN  False
8    California   2/1/2016   3.0     3.7  ...     NaN   NaN       NaN  False
9         Asada   2/6/2016   4.0     4.1  ...     NaN   NaN       NaN  False
10  Surf & Turf   2/6/2016   NaN     NaN  ...     NaN   NaN       NaN  False
11        Other  2/11/2016   3.0     4.1  ...     NaN   NaN       NaN  False
12   California  2/11/2016   NaN     NaN  ...     NaN   NaN       NaN  False
13        Other  2/11/2016   NaN     NaN  ...     NaN   NaN       NaN  False
14   California  2/11/2016   NaN     NaN  ...     NaN   NaN       NaN  False

[15 rows x 59 columns]

In [8]:
# noted 2026 date in test df, typo, should be 2016
df.iloc[[77]]
df.iloc[77,1] = '2016-04-25'
df.iloc[[77]]

       Burrito        Date  Yelp  Google  ... Avocado  Corn  Zucchini  Great
77  California  2016-04-25   NaN     NaN  ...     NaN   NaN       NaN   True

[1 rows x 59 columns]

In [9]:
# see number of great burrios
df['Great'].value_counts()

False    239
True     182
Name: Great, dtype: int64

In [10]:
# total of 421, 50% is 210 drop any null above 210
df.isnull().sum()

Burrito             0
Date                0
Yelp              334
Google            334
Chips             395
Cost                7
Hunger              3
Mass (g)          399
Density (g/mL)    399
Length            138
Circum            140
Volume            140
Tortilla            0
Temp               20
Meat               14
Fillings            3
Meat:filling        9
Uniformity          2
Salsa              25
Synergy             2
Wrap                3
Unreliable        388
NonSD             414
Beef              242
Pico              263
Guac              267
Cheese            262
Fries             294
Sour cream        329
Pork              370
Chicken           400
Shrimp            400
Fish              415
Rice              385
Beans             386
Lettuce           410
Tomato            414
Bell peper        414
Carrots           420
Cabbage           413
Sauce             383
Salsa.1           414
Cilantro          406
Onion             404
Taquito           417
Pineapple         414
Ham               419
Chile relleno     417
Nopales           417
Lobster           420
Queso             421
Egg               416
Mushroom          418
Bacon             418
Sushi             419
Avocado           408
Corn              418
Zucchini          420
Great               0
dtype: int64

In [11]:
# choose hyper parameters
features= ['Burrito',
 'Date',
 'Cost',
 'Hunger',
 'Length',
 'Circum',
 'Volume',
 'Tortilla',
 'Temp',
 'Meat',
 'Fillings',
 'Meat:filling',
 'Uniformity',
 'Salsa',
 'Synergy',
 'Wrap',
 'Great']

In [12]:
# look at features matrix
df=df[features]
df

        Burrito       Date  Cost  Hunger  ...  Salsa  Synergy  Wrap  Great
0    California  1/18/2016  6.49     3.0  ...    4.0      4.0   4.0  False
1    California  1/24/2016  5.45     3.5  ...    3.5      2.5   5.0  False
2      Carnitas  1/24/2016  4.85     1.5  ...    3.0      3.0   5.0  False
3         Asada  1/24/2016  5.25     2.0  ...    4.0      4.0   5.0  False
4    California  1/27/2016  6.59     4.0  ...    2.5      4.5   4.0   True
..          ...        ...   ...     ...  ...    ...      ...   ...    ...
418       Other  8/27/2019  6.00     1.0  ...    2.0      2.0   5.0  False
419       Other  8/27/2019  6.00     4.0  ...    5.0      4.0   3.0   True
420  California  8/27/2019  7.90     3.0  ...    3.5      4.0   4.5  False
421       Other  8/27/2019  7.90     3.0  ...    5.0      5.0   2.0   True
422       Other  8/27/2019  5.50     3.5  ...    3.0      4.5   4.0   True

[421 rows x 17 columns]

In [13]:
# inspect data types
df.dtypes

Burrito          object
Date             object
Cost            float64
Hunger          float64
Length          float64
Circum          float64
Volume          float64
Tortilla        float64
Temp            float64
Meat            float64
Fillings        float64
Meat:filling    float64
Uniformity      float64
Salsa           float64
Synergy         float64
Wrap            float64
Great              bool
dtype: object

In [14]:
# change Great from boolean to integer
df['Great']=df['Great'].astype(int)
df['Great']

0      0
1      0
2      0
3      0
4      1
      ..
418    0
419    1
420    0
421    1
422    1
Name: Great, Length: 421, dtype: int64

In [15]:
# transform Date into datetime
df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format = True)
df['Date'].dtypes

dtype('<M8[ns]')

In [16]:
# check for null values

In [17]:
# Test/Train/Validate Split

cutoff = '2017-01-01'
cutoff2 = '2017-12-31'

train = df[df['Date']< cutoff]
validate = df[(df['Date']>= cutoff) & (df['Date']<= cutoff2)]
test = df[df['Date']> cutoff2]

# verify split
print(train.shape)
print(validate.shape)
print(test.shape)

(299, 17)
(85, 17)
(37, 17)

In [18]:
import category_encoders as ce
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

model = LogisticRegression()

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [19]:
# split out features matrices and target vectors
features=['Burrito',
 'Cost',
 'Hunger',
 'Length',
 'Circum',
 'Volume',
 'Tortilla',
 'Temp',
 'Meat',
 'Fillings',
 'Meat:filling',
 'Uniformity',
 'Salsa',
 'Synergy',
 'Wrap']
 
X_train = train[features]
print(X_train.shape)
y_train = train['Great']
print(y_train.shape)

X_validate = validate[features]
print(X_validate.shape)
y_validate = validate['Great']
print(y_validate.shape)

X_test = test[features]
print(X_test.shape)
y_test = test['Great']
print(y_test.shape)

(299, 15)
(299,)
(85, 15)
(85,)
(37, 15)
(37,)

In [20]:
# One hot encode Burrito Column

encoder = ce.OneHotEncoder(use_cat_names = True)
X_train_e = encoder.fit_transform(X_train)
X_validate_e = encoder.transform(X_validate)

X_train_e.head()

   Burrito_California  Burrito_Carnitas  Burrito_Asada  ...  Salsa  Synergy  Wrap
0                   1                 0              0  ...    4.0      4.0   4.0
1                   1                 0              0  ...    3.5      2.5   5.0
2                   0                 1              0  ...    3.0      3.0   5.0
3                   0                 0              1  ...    4.0      4.0   5.0
4                   1                 0              0  ...    2.5      4.5   4.0

[5 rows x 19 columns]

In [21]:
# Impute column values, that is replace Nan

imputer = SimpleImputer(strategy = 'mean')
X_train_i = imputer.fit_transform(X_train_e)
X_validate_i = imputer.transform(X_validate_e)

In [22]:
# Scale values to equitable magnitude
scaler = StandardScaler()
X_train_s = scaler.fit_transform(X_train_i)
X_validate_s = scaler.transform(X_validate_i)

X_train_s[0]

array([ 1.22988009e+00, -2.21636655e-01, -3.64109541e-01, -7.62896180e-01,
       -2.74844626e-01, -3.43038668e-01, -5.27005189e-01,  0.00000000e+00,
       -2.77179980e-15, -1.05893403e-15, -5.96820381e-01,  1.33421092e+00,
       -6.49835504e-01, -2.82147683e-02,  4.55085170e-01,  5.51402381e-01,
        7.23553702e-01,  4.94381628e-01,  3.56687841e-02])

In [23]:
# Fit data to model

model.fit(X_train_s, y_train)
y_pred = model.predict(X_validate_s)

accuracy_score (y_validate,y_pred)

0.8

In [26]:
# Run on test data
X_test = test[features]
X_test_e = encoder.transform(X_test)
X_test_i = imputer.transform(X_test_e)
X_test_s = scaler.transform(X_test_i)
y_pred = model.predict(X_test_s)

accuracy_score(y_test, y_pred)

0.7567567567567568

In [27]:
# # Replace null values, one column, one matrix
# print(train['Cost'].mean())
# print(train['Cost'].isnull().sum())

# values = {'Cost' : train['Cost'].mean() }
# train = train.fillna(value=values)
# print(train['Cost'].isnull().sum())

In [28]:
# # Replace all null values in columns in train
# Unnecessary because of Imputer

# f2 = {'Cost': train['Cost'].mean(),
# 'Hunger': train['Hunger'].mean(),
# 'Length': train['Length'].mean(),
# 'Circum': train['Circum'].mean(),
# 'Volume': train['Volume'].mean(),
# 'Temp': train['Temp'].mean(),
# 'Meat': train['Meat'].mean(),
# 'Fillings': train['Fillings'].mean(),
# 'Meat:filling': train['Meat:filling'].mean(),
# 'Uniformity': train['Uniformity'].mean(),
# 'Salsa': train['Salsa'].mean(),
# 'Synergy': train['Synergy'].mean(),
# 'Wrap': train['Wrap'].mean()}
# train =train.fillna(value=f2)
# print(train.isnull().sum(),'\n')
# train