<a href="https://colab.research.google.com/github/lineality/DS-Unit-2-Regression-Classification/blob/master/module4/GGA_2_1_4_v3_assignment_regression_classification_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science, Unit 2: Predictive Modeling
Geoffrey Gordon Ashbrook Assignment
2019.10.03
DS8
unit 2.1.4
lecture by Sir Aaron Gallant


# Regression & Classification, Module 4

## Assignment

- [ ] Watch Aaron Gallant's [video #1](https://www.youtube.com/watch?v=pREaWFli-5I) (12 minutes) & [video #2](https://www.youtube.com/watch?v=bDQgVt4hFgY) (9 minutes) to learn about the mathematics of Logistic Regression.


- [ ] 1. Do a train/validate/test split with the Tanzania Waterpumps data.
- [ ] 2. Do one-hot encoding. For example, in addition to `quantity`, you could try `basin`, `extraction_type_class`, and more. (But remember it may not work with high cardinality categoricals.)
- [ ] 3. Use scikit-learn for logistic regression.
- [ ] 4 .Get your validation accuracy score.
- [ ] 5. Get and plot your coefficients.
- [ ] 6. Submit your predictions to our Kaggle competition. (Go to our Kaggle InClass competition webpage. Use the blue **Submit Predictions** button to upload your CSV file. Or you can use the Kaggle API to submit your predictions.)


- [ ] Commit your notebook to your fork of the GitHub repo.

> [Do Not Copy-Paste.](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit) You must type each of these exercises in, manually. If you copy and paste, you might as well not even do them. The point of these exercises is to train your hands, your brain, and your mind in how to read, write, and see code. If you copy-paste, you are cheating yourself out of the effectiveness of the lessons.


## Stretch Goals

### Doing
- [ ] Add your own stretch goal(s) !
- [ ] Clean the data. For ideas, refer to [The Quartz guide to bad data](https://github.com/Quartz/bad-data-guide),  a "reference to problems seen in real-world data along with suggestions on how to resolve them." One of the issues is ["Zeros replace missing values."](https://github.com/Quartz/bad-data-guide#zeros-replace-missing-values)
- [ ] Make exploratory visualizations.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).


#### Exploratory visualizations

Visualize the relationships between feature(s) and target. I recommend you do this with your training set, after splitting your data. 

To visualize this dataset, you may want to create a new column to represent the target as a number, 0 or 1. For example:

```python
train['functional'] = (train['status_group']=='functional').astype(int)
```



You can try [Seaborn "Categorical estimate" plots](https://seaborn.pydata.org/tutorial/categorical.html) for features with reasonably few unique values. (With too many unique values, the plot is unreadable.)

- Categorical features. (If there are too many unique values, you can replace less frequent values with "OTHER.")
- Numeric features. (If there are too many unique values, you can [bin with pandas cut / qcut functions](https://pandas.pydata.org/pandas-docs/stable/getting_started/basics.html?highlight=qcut#discretization-and-quantiling).)

You can try [Seaborn linear model plots](https://seaborn.pydata.org/tutorial/regression.html) with numeric features. For this problem, you may want to use the parameter `logistic=True`

You do _not_ need to use Seaborn, but it's nice because it includes confidence intervals to visualize uncertainty.

#### High-cardinality categoricals

This code from the previous assignment demonstrates how to replace less frequent values with 'OTHER'

```python
# Reduce cardinality for NEIGHBORHOOD feature ...

# Get a list of the top 10 neighborhoods
top10 = train['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10,
# replace the neighborhood with 'OTHER'
train.loc[~train['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'
test.loc[~test['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'
```

#### Pipelines

[Scikit-Learn User Guide](https://scikit-learn.org/stable/modules/compose.html) explains why pipelines are useful, and demonstrates how to use them:

> Pipeline can be used to chain multiple estimators into one. This is useful as there is often a fixed sequence of steps in processing the data, for example feature selection, normalization and classification. Pipeline serves multiple purposes here:
> - **Convenience and encapsulation.** You only have to call fit and predict once on your data to fit a whole sequence of estimators.
> - **Joint parameter selection.** You can grid search over parameters of all estimators in the pipeline at once.
> - **Safety.** Pipelines help avoid leaking statistics from your test data into the trained model in cross-validation, by ensuring that the same samples are used to train the transformers and predictors.

### Reading
- [ ] [Why is logistic regression considered a linear model?](https://www.quora.com/Why-is-logistic-regression-considered-a-linear-model)
- [ ] [Training, Validation, and Testing Data Sets](https://end-to-end-machine-learning.teachable.com/blog/146320/training-validation-testing-data-sets)
- [ ] [How (and why) to create a good validation set](https://www.fast.ai/2017/11/13/validation-sets/)
- [ ] [Always start with a stupid model, no exceptions](https://blog.insightdatascience.com/always-start-with-a-stupid-model-no-exceptions-3a22314b9aaa)
- [ ] [Statistical Modeling: The Two Cultures](https://projecteuclid.org/download/pdf_1/euclid.ss/1009213726)
- [ ] [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way (without an excessive amount of formulas or academic pre-requisites).

In [0]:
import os, sys
in_colab = 'google.colab' in sys.modules

# If you're in Colab...
if in_colab:
    # Pull files from Github repo
    os.chdir('/content')
    !git init .
    !git remote add origin https://github.com/LambdaSchool/DS-Unit-2-Regression-Classification.git
    !git pull origin master
    
    # Install required python packages
    !pip install -r requirements.txt
    
    # Change into directory for module
    os.chdir('module4')

In [0]:
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Regression-Classification/master/data/waterpumps/sample_submission.csv

https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Regression-Classification/master/data/waterpumps/test_features.csv

https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Regression-Classification/master/data/waterpumps/train_features.csv

https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Regression-Classification/master/data/waterpumps/train_labels.csv

# GGA Code Beguine's Here!

In [0]:
import pandas as pd
'''
train_features = pd.read_csv('../data/tanzania/train_features.csv')
train_labels = pd.read_csv('../data/tanzania/train_labels.csv')
test_features = pd.read_csv('../data/tanzania/test_features.csv')
sample_submission = pd.read_csv('../data/tanzania/sample_submission.csv')
'''
# Implimented Overide workaround: rerount to raw_URL
train_features = pd.read_csv('https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Regression-Classification/master/data/waterpumps/train_features.csv')
train_labels = pd.read_csv('https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Regression-Classification/master/data/waterpumps/train_labels.csv')
test_features = pd.read_csv('https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Regression-Classification/master/data/waterpumps/test_features.csv')
sample_submission = pd.read_csv('https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Regression-Classification/master/data/waterpumps/sample_submission.csv')

#4 Way Split

# the X data
assert train_features.shape == (59400, 40)
# the Y
assert train_labels.shape == (59400, 2)
# testing X?
assert test_features.shape == (14358, 40)
# testing Y?
assert sample_submission.shape == (14358, 2)

#Goal 1: Split
- [ ] 1. Do a train/validate/test split with the Tanzania Waterpumps data.

In [0]:
import pandas as pd
#train = pd.read_csv('...')
#test = pd.read_csv('...')

In [111]:


from sklearn.model_selection import train_test_split

my_train, my_val = train_test_split(train_features, random_state=42)
my_train.shape, my_val.shape

((44550, 40), (14850, 40))

## The Data Exploration!

In [112]:
my_train.head()

          id  amount_tsh  ...     waterpoint_type waterpoint_type_group
24947  33935        20.0  ...  communal standpipe    communal standpipe
22630  49654         0.0  ...           hand pump             hand pump
13789  39287         0.0  ...           hand pump             hand pump
15697  60510         0.0  ...  communal standpipe    communal standpipe
22613  24259         0.0  ...  communal standpipe    communal standpipe

[5 rows x 40 columns]

In [0]:
my_train = my_train.drop(columns = 'funder')
my_train = my_train.drop(columns = 'installer')
my_train = my_train.drop(columns = 'subvillage')
my_train = my_train.drop(columns = 'public_meeting')
my_train = my_train.drop(columns = 'scheme_management')
my_train = my_train.drop(columns = 'scheme_name')
my_train = my_train.drop(columns = 'permit')

In [0]:
# duct tape method of reducing cardinality
my_train = my_train.drop(columns = 'date_recorded')
my_train = my_train.drop(columns = 'wpt_name')
my_train = my_train.drop(columns = 'lga')
my_train = my_train.drop(columns = 'ward')

For other set

In [0]:
test_features = test_features.drop(columns = 'funder')
test_features = test_features.drop(columns = 'installer')
test_features = test_features.drop(columns = 'subvillage')
test_features = test_features.drop(columns = 'public_meeting')
test_features = test_features.drop(columns = 'scheme_management')
test_features = test_features.drop(columns = 'scheme_name')
test_features = test_features.drop(columns = 'permit')

In [0]:
# duct tape method of reducing cardinality
test_features = test_features.drop(columns = 'date_recorded')
test_features = test_features.drop(columns = 'wpt_name')
test_features = test_features.drop(columns = 'lga')
test_features = test_features.drop(columns = 'ward')

In [117]:
my_train.shape

(44550, 29)

In [118]:
train_labels.shape

(59400, 2)

In [119]:
my_train.isna().sum()

id                       0
amount_tsh               0
gps_height               0
longitude                0
latitude                 0
num_private              0
basin                    0
region                   0
region_code              0
district_code            0
population               0
recorded_by              0
construction_year        0
extraction_type          0
extraction_type_group    0
extraction_type_class    0
management               0
management_group         0
payment                  0
payment_type             0
water_quality            0
quality_group            0
quantity                 0
quantity_group           0
source                   0
source_type              0
source_class             0
waterpoint_type          0
waterpoint_type_group    0
dtype: int64

In [120]:
test_features.isna().sum()

id                       0
amount_tsh               0
gps_height               0
longitude                0
latitude                 0
num_private              0
basin                    0
region                   0
region_code              0
district_code            0
population               0
recorded_by              0
construction_year        0
extraction_type          0
extraction_type_group    0
extraction_type_class    0
management               0
management_group         0
payment                  0
payment_type             0
water_quality            0
quality_group            0
quantity                 0
quantity_group           0
source                   0
source_type              0
source_class             0
waterpoint_type          0
waterpoint_type_group    0
dtype: int64

In [121]:
my_train.describe(exclude='number')

                basin  region  ...     waterpoint_type waterpoint_type_group
count           44550   44550  ...               44550                 44550
unique              9      21  ...                   7                     6
top     Lake Victoria  Iringa  ...  communal standpipe    communal standpipe
freq             7663    3991  ...               21353                 25884

[4 rows x 19 columns]

#Goal 2: One Hot Encode
- [ ] 2. Do one-hot encoding. For example, in addition to `quantity`, you could try `basin`, `extraction_type_class`, and more. (But remember it may not work with high cardinality categoricals.)

##2.4 Do one-hot encoding

In [0]:
train = my_train 
test = my_val

In [0]:
target = train_labels

In [0]:
X_train = train[features]
y_train = train_labels
X_test = test[features]
y_test = train_labels

In [0]:
#X_train = train[features]
#y_train = train[target]
#X_test = test[features]
#y_test = test[target]

In [0]:
#target = train_labels
#high_cardinality = my_train['date_recorded',
#                    'wpt_name',
#                    'lga',
#                   'ward']


				
#features = my_train.columns.drop(high_cardinality)

#X_train = my_train[features]
#y_train = my_train[target]
#X_test = my_train[features]
#y_test = my_val[target]

In [0]:
import category_encoders as ce
encoder = ce.OneHotEncoder(use_cat_names=True)
X_train = encoder.fit_transform(X_train)
X_test = encoder.transform(X_test)

In [0]:
#looking at data
X_train.head(3)




```
# This is formatted as code
```

In [0]:
X_train.corr()

#Goal 3: Logistic Regression
- [ ] 3. Use scikit-learn for logistic regression.

# Logistic Regresssion

##1.2 Do train/test split, arrange data into X features matrix and y target vector
+
##1.3 Use scikit-learn to fit a logistic regression model
(modified 5 step model...no source for this)
+
##1.4 Report classification metric: accuracy

In [0]:
# (step 1)
# 1. Import the appropriate estimator class from Scikit-Learn
from sklearn.linear_model import LogisticRegression

gps_height
longitude
basin_Internal

In [0]:
X_train.shape

In [0]:
# 3. Arrange X features matrix & y target vector
# 3. Arrange X feature matrices (already did y target vectors)
features = ['gps_height', 'longitude', 'basin_Internal']
X_train = X_train[features]
X_val = X_test[features]

# Impute missing values
from sklearn.impute import SimpleImputer
imputer = SimpleImputer()
X_train_imputed = imputer.fit_transform(X_train)
X_val_imputed = imputer.transform(X_val)

In [0]:
LogisticRegression(solver='lbfgs', multi_class='auto')

In [0]:
X_train_imputed.shape

In [0]:
#(Step 2)
# 2. Instantiate this class
# model = LinearRegression()

from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression(solver='lbfgs')
# 4. Fit the model
#model.fit(X_train, y_train)
log_reg.fit(X_train_imputed, train_labels)
# 5. Apply the model
print('Validation Accuracy', log_reg.score(X_val_imputed, y_val))

In [0]:
#code below here not clearly applicable...

In [0]:
X_train.head(5)

In [0]:
y_train.head(5)

In [0]:
# interpolation
# 5.1 Here we will try appling our model to new data
bedroom_number = 2
X_test = [[bedroom_number]]

model.predict(X_test)

In [0]:
# extrapoloation
# 5.2 Here we will try appling our model to new data
bedroom_number = 20
X_test = [[bedroom_number]]

model.predict(X_test)

In [0]:
#y_pred = model.predict(X_test)
print(f'Predicted price for a {X_test} bedroom place:\n' + str(y_pred))

## 1.4 Report classification metric: accuracy

In [0]:
#from sklearn.metrics import accuracy_score
#accuracy_score(y_train, y_pred)

#Goal 4: validation accuracy score
- [ ] 4 .Get your validation accuracy score.

# Goal: Coefficients
- [ ] 5. Get and plot your coefficients.

In [0]:
model.intercept_, model.coef_

In [0]:
beta0 = model.intercept_
beta1, beta2 = model.coef_
print(f'y = {beta0} + {beta1}x1 + {beta2}x2')

In [0]:
# This is easier to read
print('Intercepts:', model.intercept_)
coefficients = pd.Series(model.coef_, features)
print(coefficients.to_string())

In [0]:
#Original Ryan Herr Template for simple linear regression
#
# 1. Import estimator class
from sklearn.linear_model import LinearRegression

# 2. Instantiate this class
linear_reg = LinearRegression()

# 3. Arrange X feature matrices (already did y target vectors)
features = ['Pclass', 'Age', 'Fare']
X_train = my_train[features]
X_val = my_val[features]

# Impute missing values
from sklearn.impute import SimpleImputer
imputer = SimpleImputer()
X_train_imputed = imputer.fit_transform(X_train)
X_val_imputed = imputer.transform(X_val)

# 4. Fit the model
linear_reg.fit(X_train_imputed, y_train)

# 5. Apply the model to new data.
# The predictions look like this ...
linear_reg.predict(X_val_imputed)